<banner></banner>
<section class="section bgw">
  <div class="container-fluid">
    <nav class="portfolio-filter clearfix text-center">
      <ul>
        <li><a class="btn btn-default" href="#" data-filter="*">All</a></li>
        <li><a class="btn btn-default" href="#" data-filter=".cat1">English Courses</a></li>
        <li>
            <select ng-change="vm.selectedCategorie()" ng-model="vm.selectedId">
                  <option ng-repeat="cat in vm.lesCategories"ng-value="{{cat._id}}"> {{cat.libelle}} </option>
            </select>
        </li>
        <li ng-show="vm.sousCatVisible">
          <select>
                  <option ng-repeat="sousCat in vm.lesSousCategories"ng-value="{{sousCat._id}}"> {{sousCat.libelle | limitTo:15}} </option>
            </select>
        </li>
      </ul>
    </nav>
    <div id="fourcol" class="portfolio row">
      <div class="pitem item-w1 item-h1 cat1">
        <div class="shop-item course-v2">
          <div class="post-media entry">
            <div class="ribbon-wrapper-green">
              <div class="ribbon-green">Featured</div>
            </div>
            <img src="assets/upload/small_course_01.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                <a ui-sref="courseSinglePage" title="Full Preview"><i class="fa fa-search"></i></a>
              </div>
              <!-- end shop-bottom -->
              <div class="large-post-meta">
                <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_02.png" alt="" class="img-circle"> Amanda DOE</a></span>
                <small>&#124;</small>
                <span><a ui-sref="courseSinglePage"><i class="fa fa-clock-o"></i> 2 Month</a></span>
                <small class="hidden-xs">&#124;</small>
                <span class="hidden-xs"><a ui-sref="courseSinglePage"><i class="fa fa-graduation-cap"></i> 12 Students</a></span>
              </div>
              <!-- end meta -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="shop-desc">
            <div class="shop-price clearfix">
              <div class="pull-left">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <!-- end rating -->
              </div>
              <!-- end left -->
              <div class="pull-right">
                <small>$100.00</small>
              </div>
              <!-- end right -->
            </div>
            <h3><a ui-sref="courseSinglePage" title="">Getting Starting with Bootstrap Framework Like a Professional</a></h3>
          </div>
        </div>
        <!-- end shop-item -->
      </div>
      <!-- end carousel-item -->
      <div class="pitem item-w1 item-h1 cat2">
        <div class="shop-item course-v2">
          <div class="post-media entry">
            <img src="assets/upload/small_course_02.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                <a ui-sref="courseSinglePage" title="Full Preview"><i class="fa fa-search"></i></a>
              </div>
              <!-- end shop-bottom -->
              <div class="large-post-meta">
                <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_01.png" alt="" class="img-circle"> Jenny DOE</a></span>
                <small>&#124;</small>
                <span><a ui-sref="courseSinglePage"><i class="fa fa-clock-o"></i> 1 Month</a></span>
                <small class="hidden-xs">&#124;</small>
                <span class="hidden-xs"><a ui-sref="courseSinglePage"><i class="fa fa-graduation-cap"></i> 12 Students</a></span>
              </div>
              <!-- end meta -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="shop-desc">
            <div class="shop-price clearfix">
              <div class="pull-left">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <!-- end rating -->
              </div>
              <!-- end left -->
              <div class="pull-right">
                <small>$100.00</small>
              </div>
              <!-- end right -->
            </div>
            <h3><a ui-sref="courseSinglePage" title="">Learning Web Design and Development in 22 Days </a></h3>
          </div>
        </div>
        <!-- end shop-item -->
      </div>
      <!-- end carousel-item -->
      <div class="pitem item-w1 item-h1 cat3">
        <div class="shop-item course-v2">
          <div class="post-media entry">
            <img src="assets/upload/small_course_04.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                <a ui-sref="courseSinglePage" title="Full Preview"><i class="fa fa-search"></i></a>
              </div>
              <!-- end shop-bottom -->
              <div class="large-post-meta">
                <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_03.png" alt="" class="img-circle"> John DOE</a></span>
                <small>&#124;</small>
                <span><a ui-sref="courseSinglePage"><i class="fa fa-clock-o"></i> 1 Month</a></span>
                <small class="hidden-xs">&#124;</small>
                <span class="hidden-xs"><a ui-sref="courseSinglePage"><i class="fa fa-graduation-cap"></i> 44 Students</a></span>
              </div>
              <!-- end meta -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="shop-desc">
            <div class="shop-price clearfix">
              <div class="pull-left">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <!-- end rating -->
              </div>
              <!-- end left -->
              <div class="pull-right">
                <small>$100.00</small>
              </div>
              <!-- end right -->
            </div>
            <h3><a ui-sref="courseSinglePage" title="">System Networking Expertise and Mobile Development</a></h3>
          </div>
        </div>
        <!-- end shop-item -->
      </div>
      <!-- end carousel-item -->
      <div class="pitem item-w1 item-h1 cat1">
        <div class="shop-item course-v2">
          <div class="post-media entry">
            <img src="assets/upload/small_course_03.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                <a ui-sref="courseSinglePage" title="Full Preview"><i class="fa fa-search"></i></a>
              </div>
              <!-- end shop-bottom -->
              <div class="large-post-meta">
                <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_02.png" alt="" class="img-circle"> Amanda DOE</a></span>
                <small>&#124;</small>
                <span><a ui-sref="courseSinglePage"><i class="fa fa-clock-o"></i> 2 Month</a></span>
                <small class="hidden-xs">&#124;</small>
                <span class="hidden-xs"><a ui-sref="courseSinglePage"><i class="fa fa-graduation-cap"></i> 12 Students</a></span>
              </div>
              <!-- end meta -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="shop-desc">
            <div class="shop-price clearfix">
              <div class="pull-left">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <!-- end rating -->
              </div>
              <!-- end left -->
              <div class="pull-right">
                <small>$30.00</small>
              </div>
              <!-- end right -->
            </div>
            <h3><a ui-sref="courseSinglePage" title="">How to use ten perinam keyboard with macboard</a></h3>
          </div>
        </div>
        <!-- end shop-item -->
      </div>
      <!-- end carousel-item -->
      <div class="pitem item-w1 item-h1 cat2">
        <div class="shop-item course-v2">
          <div class="post-media entry">
            <img src="assets/upload/small_course_05.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                <a ui-sref="courseSinglePage" title="Full Preview"><i class="fa fa-search"></i></a>
              </div>
              <!-- end shop-bottom -->
              <div class="large-post-meta">
                <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_01.png" alt="" class="img-circle"> Jenny DOE</a></span>
                <small>&#124;</small>
                <span><a ui-sref="courseSinglePage"><i class="fa fa-clock-o"></i> 1 Month</a></span>
                <small class="hidden-xs">&#124;</small>
                <span class="hidden-xs"><a ui-sref="courseSinglePage"><i class="fa fa-graduation-cap"></i> 12 Students</a></span>
              </div>
              <!-- end meta -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="shop-desc">
            <div class="shop-price clearfix">
              <div class="pull-left">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <!-- end rating -->
              </div>
              <!-- end left -->
              <div class="pull-right">
                <small>$40.00</small>
              </div>
              <!-- end right -->
            </div>
            <h3><a ui-sref="courseSinglePage" title="">Getting Starting Business English - Ideal for Beginners</a></h3>
          </div>
        </div>
        <!-- end shop-item -->
      </div>
      <!-- end carousel-item -->
      <div class="pitem item-w1 item-h1 cat3">
        <div class="shop-item course-v2">
          <div class="post-media entry">
            <img src="assets/upload/small_course_06.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                <a ui-sref="courseSinglePage" title="Full Preview"><i class="fa fa-search"></i></a>
              </div>
              <!-- end shop-bottom -->
              <div class="large-post-meta">
                <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_03.png" alt="" class="img-circle"> John DOE</a></span>
                <small>&#124;</small>
                <span><a ui-sref="courseSinglePage"><i class="fa fa-clock-o"></i> 1 Month</a></span>
                <small class="hidden-xs">&#124;</small>
                <span class="hidden-xs"><a ui-sref="courseSinglePage"><i class="fa fa-graduation-cap"></i> 44 Students</a></span>
              </div>
              <!-- end meta -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="shop-desc">
            <div class="shop-price clearfix">
              <div class="pull-left">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <!-- end rating -->
              </div>
              <!-- end left -->
              <div class="pull-right">
                <small>$190.00</small>
              </div>
              <!-- end right -->
            </div>
            <h3><a ui-sref="courseSinglePage" title="">Working on Github with an awesome team partical</a></h3>
          </div>
        </div>
        <!-- end shop-item -->
      </div>
      <!-- end carousel-item -->
      <div class="pitem item-w1 item-h1 cat1">
        <div class="shop-item course-v2">
          <div class="post-media entry">
            <img src="assets/upload/small_course_07.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                <a ui-sref="courseSinglePage" title="Full Preview"><i class="fa fa-search"></i></a>
              </div>
              <!-- end shop-bottom -->
              <div class="large-post-meta">
                <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_02.png" alt="" class="img-circle"> Amanda DOE</a></span>
                <small>&#124;</small>
                <span><a ui-sref="courseSinglePage"><i class="fa fa-clock-o"></i> 2 Month</a></span>
                <small class="hidden-xs">&#124;</small>
                <span class="hidden-xs"><a ui-sref="courseSinglePage"><i class="fa fa-graduation-cap"></i> 12 Students</a></span>
              </div>
              <!-- end meta -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="shop-desc">
            <div class="shop-price clearfix">
              <div class="pull-left">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <!-- end rating -->
              </div>
              <!-- end left -->
              <div class="pull-right">
                <small>$30.00</small>
              </div>
              <!-- end right -->
            </div>
            <h3><a ui-sref="courseSinglePage" title="">How to use ten perinam keyboard with macboard</a></h3>
          </div>
        </div>
        <!-- end shop-item -->
      </div>
      <!-- end carousel-item -->
      <div class="pitem item-w1 item-h1 cat2">
        <div class="shop-item course-v2">
          <div class="post-media entry">
            <img src="assets/upload/small_course_08.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                <a ui-sref="courseSinglePage" title="Full Preview"><i class="fa fa-search"></i></a>
              </div>
              <!-- end shop-bottom -->
              <div class="large-post-meta">
                <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_01.png" alt="" class="img-circle"> Jenny DOE</a></span>
                <small>&#124;</small>
                <span><a ui-sref="courseSinglePage"><i class="fa fa-clock-o"></i> 1 Month</a></span>
                <small class="hidden-xs">&#124;</small>
                <span class="hidden-xs"><a ui-sref="courseSinglePage"><i class="fa fa-graduation-cap"></i> 12 Students</a></span>
              </div>
              <!-- end meta -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="shop-desc">
            <div class="shop-price clearfix">
              <div class="pull-left">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <!-- end rating -->
              </div>
              <!-- end left -->
              <div class="pull-right">
                <small>$40.00</small>
              </div>
              <!-- end right -->
            </div>
            <h3><a ui-sref="courseSinglePage" title="">Getting Starting Business English - Ideal for Beginners</a></h3>
          </div>
        </div>
        <!-- end shop-item -->
      </div>
      <!-- end carousel-item -->
      <div class="pitem item-w1 item-h1 cat1">
        <div class="shop-item course-v2">
          <div class="post-media entry">
            <img src="assets/upload/small_course_09.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                <a ui-sref="courseSinglePage" title="Full Preview"><i class="fa fa-search"></i></a>
              </div>
              <!-- end shop-bottom -->
              <div class="large-post-meta">
                <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_03.png" alt="" class="img-circle"> John DOE</a></span>
                <small>&#124;</small>
                <span><a ui-sref="courseSinglePage"><i class="fa fa-clock-o"></i> 1 Month</a></span>
                <small class="hidden-xs">&#124;</small>
                <span class="hidden-xs"><a ui-sref="courseSinglePage"><i class="fa fa-graduation-cap"></i> 44 Students</a></span>
              </div>
              <!-- end meta -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="shop-desc">
            <div class="shop-price clearfix">
              <div class="pull-left">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <!-- end rating -->
              </div>
              <!-- end left -->
              <div class="pull-right">
                <small>$190.00</small>
              </div>
              <!-- end right -->
            </div>
            <h3><a ui-sref="courseSinglePage" title="">Working on Github with an awesome team partical</a></h3>
          </div>
        </div>
        <!-- end shop-item -->
      </div>
      <div class="pitem item-w1 item-h1 cat1">
        <div class="shop-item course-v2">
          <div class="post-media entry">
            <img src="assets/upload/small_course_01.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                <a ui-sref="courseSinglePage" title="Full Preview"><i class="fa fa-search"></i></a>
              </div>
              <!-- end shop-bottom -->
              <div class="large-post-meta">
                <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_02.png" alt="" class="img-circle"> Amanda DOE</a></span>
                <small>&#124;</small>
                <span><a ui-sref="courseSinglePage"><i class="fa fa-clock-o"></i> 2 Month</a></span>
                <small class="hidden-xs">&#124;</small>
                <span class="hidden-xs"><a ui-sref="courseSinglePage"><i class="fa fa-graduation-cap"></i> 12 Students</a></span>
              </div>
              <!-- end meta -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="shop-desc">
            <div class="shop-price clearfix">
              <div class="pull-left">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <!-- end rating -->
              </div>
              <!-- end left -->
              <div class="pull-right">
                <small>$100.00</small>
              </div>
              <!-- end right -->
            </div>
            <h3><a ui-sref="courseSinglePage" title="">Getting Starting with Bootstrap Framework</a></h3>
          </div>
        </div>
        <!-- end shop-item -->
      </div>
      <!-- end carousel-item -->
      <div class="pitem item-w1 item-h1 cat2">
        <div class="shop-item course-v2">
          <div class="post-media entry">
            <img src="assets/upload/small_course_02.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                <a ui-sref="courseSinglePage" title="Full Preview"><i class="fa fa-search"></i></a>
              </div>
              <!-- end shop-bottom -->
              <div class="large-post-meta">
                <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_01.png" alt="" class="img-circle"> Jenny DOE</a></span>
                <small>&#124;</small>
                <span><a ui-sref="courseSinglePage"><i class="fa fa-clock-o"></i> 1 Month</a></span>
                <small class="hidden-xs">&#124;</small>
                <span class="hidden-xs"><a ui-sref="courseSinglePage"><i class="fa fa-graduation-cap"></i> 12 Students</a></span>
              </div>
              <!-- end meta -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="shop-desc">
            <div class="shop-price clearfix">
              <div class="pull-left">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <!-- end rating -->
              </div>
              <!-- end left -->
              <div class="pull-right">
                <small>$100.00</small>
              </div>
              <!-- end right -->
            </div>
            <h3><a ui-sref="courseSinglePage" title="">Learning Web Design and Development in 22 Days </a></h3>
          </div>
        </div>
        <!-- end shop-item -->
      </div>
      <!-- end carousel-item -->
      <div class="pitem item-w1 item-h1 cat3">
        <div class="shop-item course-v2">
          <div class="post-media entry">
            <img src="assets/upload/small_course_04.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                <a ui-sref="courseSinglePage" title="Full Preview"><i class="fa fa-search"></i></a>
              </div>
              <!-- end shop-bottom -->
              <div class="large-post-meta">
                <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_03.png" alt="" class="img-circle"> John DOE</a></span>
                <small>&#124;</small>
                <span><a ui-sref="courseSinglePage"><i class="fa fa-clock-o"></i> 1 Month</a></span>
                <small class="hidden-xs">&#124;</small>
                <span class="hidden-xs"><a ui-sref="courseSinglePage"><i class="fa fa-graduation-cap"></i> 44 Students</a></span>
              </div>
              <!-- end meta -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="shop-desc">
            <div class="shop-price clearfix">
              <div class="pull-left">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <!-- end rating -->
              </div>
              <!-- end left -->
              <div class="pull-right">
                <small>$100.00</small>
              </div>
              <!-- end right -->
            </div>
            <h3><a ui-sref="courseSinglePage" title="">System Networking Expertise and Mobile Development</a></h3>
          </div>
        </div>
        <!-- end shop-item -->
      </div>
      <!-- end carousel-item -->
    </div>
    <!-- end row -->
    <nav class="clearfix text-center">
      <ul class="pagination">
        <li><a class="active" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- end container -->
</section>
<script src="assets/js/isotope.js"></script>
<script src="assets/js/imagesloaded.pkgd.js"></script>
<script src="assets/js/masonry-home-01.js"></script>
