<banner></banner>
<section class="section bgw">
  <div class="container">
    <uib-tabset active="activeJustified" justified="true" style="padding: 50px 0 0 0;">
      <uib-tab index="0" heading="Tous les cours">
        <div class="row course-grid">
          <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn" ng-repeat="cours in vm.tousLesCours">
            <div class="shop-item course-v2">
              <div class="post-media entry">
                <div class="ribbon-wrapper-green">
                  <div class="ribbon-green">Featured</div>
                </div>
                <img src="assets/upload/Cours/{{cours.images}}" alt="" class="img-responsive">
                <div class="magnifier">
                  <div class="shop-bottom clearfix">
                    <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a ui-sref="courseSinglePage({sousDomaine:cours.sous_categorie, idCours:cours._id})" title="Full Preview"><i class="fa fa-search"></i></a>
                  </div>
                  <!-- end shop-bottom -->
                  <div class="large-post-meta">
                    <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_02.png" alt="" class="img-circle"> Amanda DOE</a></span>
                    <small>&#124;</small>
                    <span><a href="course-single.html"><i class="fa fa-clock-o"></i> 2 Month</a></span>
                    <small class="hidden-xs">&#124;</small>
                    <span class="hidden-xs"><a href="course-single.html"><i class="fa fa-graduation-cap"></i> 12 Students</a></span>
                  </div>
                  <!-- end meta -->
                </div>
                <!-- end magnifier -->
              </div>
              <!-- end post-media -->
              <div class="shop-desc">
                <div class="shop-price clearfix">
                  <div class="pull-left">
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <!-- end rating -->
                  </div>
                  <!-- end left -->
                  <div class="pull-right">
                    <small>$100.00</small>
                  </div>
                  <!-- end right -->
                </div>
                <h3><a ui-sref="courseSinglePage({sousDomaine:cours.sous_categorie, idCours:cours._id})" title=""> {{cours.titre}} </a></h3>
              </div>
            </div>
            <!-- end shop-item -->
          </div>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="Les plus récents">
        <div class="row course-grid">
          <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn" ng-repeat="cours in vm.lesCoursRecents">
            <div class="shop-item course-v2">
              <div class="post-media entry">
                <div class="ribbon-wrapper-green">
                  <div class="ribbon-green">Featured</div>
                </div>
                <img src="assets/upload/Cours/{{cours.images}}" alt="" class="img-responsive">
                <div class="magnifier">
                  <div class="shop-bottom clearfix">
                    <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a ui-sref="courseSinglePage({sousDomaine:cours.sous_categorie, idCours:cours._id})" title="Full Preview"><i class="fa fa-search"></i></a>
                  </div>
                  <!-- end shop-bottom -->
                  <div class="large-post-meta">
                    <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_02.png" alt="" class="img-circle"> Amanda DOE</a></span>
                    <small>&#124;</small>
                    <span><a href="course-single.html"><i class="fa fa-clock-o"></i> 2 Month</a></span>
                    <small class="hidden-xs">&#124;</small>
                    <span class="hidden-xs"><a href="course-single.html"><i class="fa fa-graduation-cap"></i> 12 Students</a></span>
                  </div>
                  <!-- end meta -->
                </div>
                <!-- end magnifier -->
              </div>
              <!-- end post-media -->
              <div class="shop-desc">
                <div class="shop-price clearfix">
                  <div class="pull-left">
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <!-- end rating -->
                  </div>
                  <!-- end left -->
                  <div class="pull-right">
                    <small>$100.00</small>
                  </div>
                  <!-- end right -->
                </div>
                <h3><a ui-sref="courseSinglePage({sousDomaine:cours.sous_categorie, idCours:cours._id})" title=""> {{cours.titre}} </a></h3>
              </div>
            </div>
            <!-- end shop-item -->
          </div>
        </div>
      </uib-tab>
      <uib-tab index="2" heading="Catégories">
        <div class="row">
          <div class="col-md-3 col-sm-12 page-left-sidebar">
            <div class="member-desc clearfix">
              <ul id="ss_sidebar">
                <li class="active"><a href="" class="profilClass">Catégories</a></li>
                <li class="cartmenu dropdown hasmenu" ng-repeat="cat in vm.lesCategories" ng-mouseenter="vm.transfertSousCat(cat._id)">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{cat.libelle}} <span>5 </span></a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="scat in vm.lesSousCategories" ng-click="vm.sousCatClick(scat._id)">{{scat.libelle | limitTo:15}}</li>
                  </ul>
                </li>
              </ul>
              <!-- end ul -->
            </div>
          </div>
          <div ng-if="vm.lesCoursBySousCat.length === 0">
            <h1>Cette catégorie ne contient pas de cours</h1>
          </div>
          <div class="col-md-8 col-sm-12 col-xs-12" ng-if="vm.lesCoursBySousCat.length !== 0">
            <div class="col-md-6 wow fadeIn" ng-repeat="cours in vm.lesCoursBySousCat">
              <div class="shop-item course-v2">
                <div class="post-media entry">
                  <div class="ribbon-wrapper-green">
                    <div class="ribbon-green">Featured</div>
                  </div>
                  <img src="assets/upload/Cours/{{cours.images}}" alt="" class="img-responsive">
                  <div class="magnifier">
                    <div class="shop-bottom clearfix">
                      <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                      <a ui-sref="courseSinglePage({sousDomaine:cours.sous_categorie, idCours:cours._id})" title="Full Preview"><i class="fa fa-search"></i></a>
                    </div>
                    <!-- end shop-bottom -->
                    <div class="large-post-meta">
                      <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_02.png" alt="" class="img-circle"> Amanda DOE</a></span>
                      <small>&#124;</small>
                      <span><a href="course-single.html"><i class="fa fa-clock-o"></i> 2 Month</a></span>
                      <small class="hidden-xs">&#124;</small>
                      <span class="hidden-xs"><a href="course-single.html"><i class="fa fa-graduation-cap"></i> 12 Students</a></span>
                    </div>
                    <!-- end meta -->
                  </div>
                  <!-- end magnifier -->
                </div>
                <!-- end post-media -->
                <div class="shop-desc">
                  <div class="shop-price clearfix">
                    <div class="pull-left">
                      <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <!-- end rating -->
                    </div>
                    <!-- end left -->
                    <div class="pull-right">
                      <small>$100.00</small>
                    </div>
                    <!-- end right -->
                  </div>
                  <h3><a ui-sref="courseSinglePage({sousDomaine:cours.sous_categorie, idCours:cours._id})" title=""> {{cours.titre}} </a></h3>
                </div>
              </div>
              <!-- end shop-item -->
            </div>
            <!-- end carousel-item -->
          </div>
        </div>
        <!-- end team-desc -->

      </uib-tab>
  </uib-tabset>
  <!-- end row -->
  <nav class="clearfix text-center">
    <ul class="pagination">
      <li><a class="active" href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">...</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  </div>
  <!-- end container -->
</section>
