<section class="section bgw">
  <div class="container">
    <div class="section-title-2 text-center">
      <h2>NOS FORMATIONS</h2>
      <p class="lead">We build awesome course & university sites! Don't miss out join us today!</p>
      <hr>
    </div>
    <!-- end section-title -->

    <div class="row text-center">
      <div class="col-md-4 col-sm-12 mob20" style="padding: 10px">
        <div class="boxes text-center service-first withcircle withborder">
          <i class="fa fa-check-square-o"></i>
          <h3><a href="#">Science Juridiques & Politique</a></h3>
          <p>Professional responsive and retina ready template for online learning websites!</p>
          <!--<a href="#" class="btn btn-primary btn-trans btn-radius">Read More</a>-->
        </div>
        <!-- end box -->
      </div>
      <!-- end col -->

      <div class="col-md-4 col-sm-12 mob20"style="padding: 10px">
        <div class="boxes text-center service-first withcircle withborder">
          <i class="fa fa-check-square-o"></i>
          <h3><a href="#">Science Econ. & de Gestion</a></h3>
          <p>Professional responsive and retina ready template for online learning websites!</p>
          <!--<a href="#" class="btn btn-primary btn-trans btn-radius">Read More<a href="#"-->
        </div>
        <!-- end box -->
      </div>
      <!-- end col -->

      <div class="col-md-4 col-sm-12"style="padding: 10px">
        <div class="boxes text-center service-first withcircle withborder">
          <i class="fa fa-check-square-o"></i>
          <h3><a href="#">Science & Technologie</a></h3>
          <p>Professional responsive and retina ready template for online learning websites!</p>
          <!--<a href="#" class="btn btn-primary btn-trans btn-radius">Read More</a>-->
        </div>
        <!-- end box -->
      </div>
      <!-- end col -->
      <div class="col-md-4 col-sm-12"style="padding: 10px">
        <div class="boxes text-center service-first withcircle withborder">
          <i class="fa fa-check-square-o"></i>
          <h3><a href="#">Science Agro Alimentaire</a></h3>
          <p>Professional responsive and retina ready template for online learning websites!</p>
          <!--<a href="#" class="btn btn-primary btn-trans btn-radius">Read More</a>-->
        </div>
        <!-- end box -->
      </div>
      <!-- end col -->
      <div class="col-md-4 col-sm-12"style="padding: 10px">
        <div class="boxes text-center service-first withcircle withborder">
          <i class="fa fa-check-square-o"></i>
          <h3><a href="#">Lettres Et Science Humaines</a></h3>
          <p>Professional responsive and retina ready template for online learning websites!</p>
          <!--<a href="#" class="btn btn-primary btn-trans btn-radius">Read More</a>-->
        </div>
        <!-- end box -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
</section>