<section class="section bgg">
  <div class="row-fluid">
    <div class="col-md-6 myimg" ng-style="{'background': 'url(assets/upload/statistique.jpg) no-repeat center center', 'background-size': 'cover'}"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <div class="about-module text-left wpa">
            <h4>WE BUILD AWESOMENESS</h4>

            <h3>Meet Our Company Statics</h3>

            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took...</p>

            <div class="row statscounts">
              <div class="statwrap noborder col-md-4 col-sm-6 col-xs-12">
                <span class="stat-count">{{$ctrl.nbCours}}</span>
                <small>Cours et tutoriels vidéos</small>
              </div>
              <!-- end col -->

              <div class="statwrap noborder col-md-4 col-sm-6 col-xs-12">
                <span class="stat-count">{$ctrl.nbUsers}</span>
                <small>Utilisateurs</small>
              </div>
              <!-- end col -->

              <div class="statwrap noborder col-md-4 col-sm-6 col-xs-12">
                <span class="stat-count">{{$ctrl.nbEtab}}</span>
                <small>Etablissements</small>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- end about-module -->
        </div>
      </div>
      <!--end of row-->
    </div>
    <!-- end container -->
  </div>
  <!-- end row fluid -->
</section>
