<section class="section bgg">
  <div class="row-fluid">
    <div class="col-md-6 myimg2"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <div class="about-module text-left wpa">
            <h4>WE BUILD AWESOMENESS</h4>

            <h3>Meet Our Company Statics</h3>

            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took...</p>

            <div class="row statscounts">
              <div class="statwrap noborder col-md-4 col-sm-6 col-xs-12">
                <span class="stat-count">3314</span>
                <small>Cups of Coffee</small>
              </div>
              <!-- end col -->

              <div class="statwrap noborder col-md-4 col-sm-6 col-xs-12">
                <span class="stat-count">6653</span>
                <small>Completed Projects</small>
              </div>
              <!-- end col -->

              <div class="statwrap noborder col-md-4 col-sm-6 col-xs-12">
                <span class="stat-count">6662</span>
                <small>Happy Customers</small>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- end about-module -->
        </div>
      </div>
      <!--end of row-->
    </div>
    <!-- end container -->
  </div>
  <!-- end row fluid -->
</section>