<banner> </banner>

<div id="sidebar1" class="container">
    <!--<div class="row" style="margin-bottom: 2em;">
          <div class="col-md-4">
            <button ng-click="createcourseCtrl.createCourse" type="submit" value="SEND" class="button button--wayra btn-block btn-square"> Demarrer Ici pour creer un cours</button>
          </div>
        </div>-->

    <div class="widget clearfix">
        <div id="post-content" class="row single-course">
            <div class="course-single-quiz">
                <!--<small>Quiz for : <span><a href="course-single.html">Learning Web Design in 22 Days</a></span></small><br>
                <small>Quiz Status: <span>Not Finished</span> </small>-->


                <hr>

                <div class="quiz-wrapper">
                    <h3>Creer votre cours en quelques étapes</h3>
                    <h4>How to integrate Bootstrap CSS and JS files into a HTML file?</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the, when an unknown printer took. Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row">
                                <div class="skills course-complete text-left">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" ng-style="createcourseCtrl.styleProgress" data-transitiongoal="createcourseCtrl.stateProgress"><span> {{createcourseCtrl.stateProgress}} </span></div>
                                    </div>
                                </div>
                                <hr class="invis">
                                <hr class="invis">
                            </div>
                            <!--end progressbar-->
                            <div ng-show="createcourseCtrl.firstPart" class="row text-center">
                                <div class="col-md-6">
                                    <label for="categorie">Categories </label>
                                    <!-- Single button -->
                                    <div class="btn-group" uib-dropdown is-open="false">
                                        <button ng-model="createcourseCtrl.categ.id" id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                      {{createcourseCtrl.categ.libelle}} <span class="caret"></span>
                    </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                            <li role="menuitem" ng-repeat="cat in createcourseCtrl.listCat" ng-click="createcourseCtrl.selectedCateg(cat)"><a href="#">{{cat.libelle}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6" ng-show="createcourseCtrl.selectedId">
                                    <label for="scategorie">sous Categories </label>
                                    <div class="btn-group" uib-dropdown is-open="false">
                                        <button ng-model="createcourseCtrl.sCateg.id" id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                      {{createcourseCtrl.sCateg.libelle}} <span class="caret"></span>
                    </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                            <li role="menuitem" ng-repeat="scat in createcourseCtrl.listSouscatBycat" ng-click="createcourseCtrl.selectedSCateg(scat)"><a href="#">{{scat.libelle}}</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <!-- end row -->
                            <!--end  categorie-->
                            <div ng-show="createcourseCtrl.secondPart" class="row text-center">
                                <div class="col-md-8 col-md-offset-2 contact_form">
                                    <form id="createcourseform" class="row" name="createcourseform" method="post" action="/api/courss/image" enctype="multipart/form-data">
                                        <!--<div class="col-md-8">-->
                                        <div class="form-group">
                                            <label for="titre">Titre du cours</label>
                                            <input type="text" class="form-control" id="titre" ng-model="createcourseCtrl.titreCours" placeholder="Titre du cours">
                                        </div>
                                        <div class="form-group">
                                            <label for="objectif">Objectif du cours</label>
                                            <textarea class="form-control" id="objectif" rows="4" ng-model="createcourseCtrl.objectifCours" placeholder="Objectif du cours"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="nbh">Nombre d'heures du cours</label>
                                            <input ng-change="createcourseCtrl.verifyNumber()" type="number" id="nbh" ng-model="createcourseCtrl.nbh" placeholder="HH" min="01" required />
                                            <span ng-show="createcourseCtrl.numberError" class="label label-warning">le nombre d'heures doit etre compris entre 1 et 99h</span>

                                        </div>
                                        <div class="form-group">
                                            <!--<div class="row">-->
                                            <!--<div class="form-group col-md-4" style="margin-top: 50px;">-->
                                            <label for="imageArticle">Choisir une image</label>
                                            <input type="file" id="imageCours" name="myFile">
                                            <i style="color: cornflowerblue; cursor: pointer;" class="fa fa-upload fa-2x" aria-hidden="true" ng-click="createcourseCtrl.ouvreDialogue()"></i>
                                            <!--<p class="help-block">Example block-level help text here.</p>-->
                                            <!--</div>-->
                                            <div id="imageSection" style="height: 150px; width: 300px; border: 3px dotted cornflowerblue;"></div>
                                            <!--</div>-->
                                        </div>
                                        <button type="submit">Upload Image</button>
                                        <!--</div>-->
                                    </form>
                                </div>
                            </div>
                            <!-- end row -->
                            <div ng-show="createcourseCtrl.thirdPart" class="row text-center">
                                <div class="contact_form">
                                    <form id="createcourseform" class="row" name="createcourseform" method="post">
                                        <div class="col-md-10 col-md-offset-1">
                                            <!--creation ou non du plan de cours-->
                                            <div class="row form-group">
                                                <label for="nbChap">Nombre de chapitres du cours</label>
                                                <input ng-change="createcourseCtrl.verifyNumberChap()" type="number" id="nbChap" ng-model="createcourseCtrl.nbChap" required/>
                                                <a ng-click="createcourseCtrl.GenerateFields()" class="btn btn-primary btn-xs">Valider</a>
                                                <span ng-show="createcourseCtrl.numberChapError" class="label label-warning">Entre 1 et 10 chapitres sont autorisés</span>
                                            </div>
                                            <!-- ng-repeat pour les cours avec chapitres-->
                                            <div class="row" ng-repeat="chap in createcourseCtrl.listChap">
                                                <span>{{$index + 1}} <i ng-click="createcourseCtrl.delChap($index)" class="fa fa-trash" aria-hidden="true"></i></span>
                                                <div class="form-group">
                                                    <label for="titreChap">Titre du chapitre  </label>
                                                    <input type="text" class="form-control" id="titreChap" ng-model="createcourseCtrl.titreChap[chap]" placeholder="Titre du chapitre">
                                                </div>
                                                <div class="form-group">
                                                    <label for="objectifChap">Objectif du chapitre</label>
                                                    <textarea class="form-control" id="objectifChap" rows="4" ng-model="createcourseCtrl.objectifChap[chap]" placeholder="Objectif du chapitre"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="contenuChap">Contenu du chapitre</label>
                                                    <textarea cleditor id="contenuChap" ng-model="createcourseCtrl.contenuChap[chap]"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lienVideoChap">lien video</label>
                                                    <input type="text" class="form-control" id="lienVideoChap" ng-model="createcourseCtrl.lienVideoChap[chap]" placeholder="lien video du chapitre">
                                                </div>
                                            </div>
                                            <!--s'il n'y a pas de chapitres-->
                                            <div class="row" ng-show="createcourseCtrl.noPlan">
                                                <div class="form-group">
                                                    <label for="lienVideoCours">lien video</label>
                                                    <input type="text" class="form-control" id="lienVideoCours" ng-model="createcourseCtrl.lienVideoCours" placeholder="lien video du cours">
                                                </div>
                                                <div class="form-group">
                                                    <label for="contenuCours">Contenu du cours</label>
                                                    <textarea class="form-control" id="contenuCours" ng-model="createcourseCtrl.contenuCours"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end row -->
                            <div ng-show="createcourseCtrl.fourthPart" class="row text-center">
                                <div class="col-md-4" ng-controller="ModalDemoCtrl as $ctrl">
                                    <a ng-click="$ctrl.open()" class="btn btn-success btn-block">Publier</a><br>
                                </div>
                                <div class="col-md-4">
                                    <a ng-click="createcourseCtrl.publish()" ui-sref="preview" class="btn btn-warning btn-block">Aperçu</a><br>
                                </div>
                                <div class="col-md-4">
                                    <a ng-click="createcourseCtrl.addBrouillon()" class="btn btn-success btn-block">Brouillon</a><br>
                                </div>
                            </div>
                            <!-- end row -->
                            <hr class="invis">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#" ng-click="createcourseCtrl.prevClick()" class="btn btn-primary btn-square btn-block">Prev Quiz Question</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" ng-click="createcourseCtrl.nextClick()" class="btn btn-primary btn-square btn-block">Next Quiz Question</a>
                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end quiz wrapper -->
            </div>
            <!-- end desc -->
        </div>
        <!-- end col -->
    </div>
</div>



<script type="text/ng-template" id="myModalContent.html">

    <form role="form" ng-init="$ctrl.getClasseByUser($ctrl.getcurrentUser()._id)">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 modal-header">
                <h3 class="modal-title" id="modal-title">Publier!</h3>
            </div>
        </div>
        <div class="row modal-body" id="modal-body">
            <ul ng-repeat="etablissement in $ctrl.listClasseUsers" class="col-md-5 col-md-offset-1">
                <!--<li ng-repeat="item in $ctrl.items">
          <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
        </li>-->
                Etablissement: {{etablissement.libelle}}
                <div ng-repeat="classe in etablissement.classe" class="checkbox checkbox-info">
                    <input id="{{classe._id}}" type="checkbox" value="{{classe._id}}" ng-checked="$ctrl.selection.indexOf(classe._id) > -1" ng-click="$ctrl.toggleSelection(classe._id)" class="styled checkbox-info">
                    <label>
              {{classe.libelle}}
          </label>
                </div>
            </ul>
            <!--Selected: <b>{{ $ctrl.selected.item }}</b>-->
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </form>
</script>
<script type="text/ng-template" id="stackedModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
    </div>
    <div class="modal-body" id="modal-body-{{name}}">
        Having multiple modals open at once is probably bad UX but it's technically possible.
    </div>
</script>