<section class="section bgw" id="topEtablissement">
  <div class="section-title text-center">
    <h3 class="hidden-xs">ETABLISSEMENTS</h3>
    <h2>TOPS ETABLISSEMENTS</h2>
  </div>
</section>
<section class="section paralbackground parallax" style="background-image:url('assets/upload/ss_slider_03.jpg');" data-img-width="2400"
  data-img-height="1594" data-diff="100">
  <div class="overlay"></div>
  <data-owl-carousel id="owl-etablissements" class="owl-carousel" data-options="{nav: false, pagination: false, rewindNav : false}">
    <div owl-carousel-item="" ng-repeat="etab in vm.LesEtablissements" class="clients m20">
      <div class="testi-item client-logo">
        <a ui-sref="etablissement({id: etab._id})"><img ng-src="assets/upload/Etablissement/{{etab.images}}" alt="" class="img-responsive" style="height: 90px; width: 200px;">
          <h4 style="text-align: center; background-color: transparent;">{{etab.libelle}}</h4>
          <!--<small style="text-align: center;">Envato.com</small>-->
        </a>
      </div>


      <!-- end logo -->


    </div>
    <!-- end row -->
  </data-owl-carousel>
  <!-- end container -->
  <div class="row">
    <div class="col-md-12">
      <div class="all-buttons text-center">
        <a ui-sref="coursesPages" class="btn btn-primary btn-lg btn-square">Tous les établissements</a>
      </div>
      <!-- end allbuttons -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</section>
