<section class="section bgw">
  <div class="container">
    <div class="big-title">
      <h2 class="related-title">
        <span>Recent Courses</span>
      </h2>
    </div>
    <!-- end big-title -->
    <div id="loading" ng-show="vm.loading">
      <div id="owl-shop" class="carousel-widget">
        <div ng-show="false"> Loading...</div>
        <div class="carousel-item" ng-repeat="cour in vm.LesCoursRecent">
          <div class="shop-item">
            <div class="post-media entry">
              <div class="ribbon-wrapper-green">
                <div class="ribbon-green">Featured</div>
              </div>
              <img src="assets/upload/bootstrap.jpg" alt="" class="img-responsive">
              <div class="magnifier">
                <div class="shop-bottom clearfix">
                  <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                  <a ui-sref="courseSinglePage" title="Full Preview"><i class="fa fa-search"></i></a>
                </div>
                <!-- end shop-bottom -->
              </div>
              <!-- end magnifier -->
            </div>
            <!-- end post-media -->
            <div class="shop-desc">
              <div class="shop-price clearfix">
                <div class="pull-left">
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <!-- end rating -->
                </div>
                <!-- end left -->
                <div class="pull-right">
                  <small>$100.00</small>
                </div>
                <!-- end right -->
              </div>
              <h3><a ui-sref="courseSinglePage" title="">Getting Starting with Bootstrap Framework {{model}}</a></h3>
            </div>

            <div class="large-post-meta">
              <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_02.png" alt="" class="img-circle"> Amanda DOE</a></span>
              <small>&#124;</small>
              <span><a ui-sref="courseSinglePage"><i class="fa fa-clock-o"></i> 2 Month</a></span>
              <small class="hidden-xs">&#124;</small>
              <span class="hidden-xs"><a ui-sref="courseSinglePage"><i class="fa fa-graduation-cap"></i> 12 Students</a></span>
            </div>
            <!-- end meta -->
          </div>
          <!-- end shop-item -->
        </div>
        <!-- end carousel-item -->
      </div>
    </div>
    <!-- end carousel-widget -->

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="all-buttons text-center">
          <a ui-sref="coursesPages" class="btn btn-primary btn-lg btn-square">VIEW ALL COURSES</a>
        </div>
        <!-- end allbuttons -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<!-- end section -->
