<section class="section bgw" id="topCours">
  <div class="container">
    <div class="section-title text-center">
      <h3 class="hidden-xs">TOPS COURS</h3>
      <h2>TOPS COURS</h2>
    </div>
    <!-- end section-title -->
    <div class="row course-grid">
      <div ng-repeat="course in vm.lesCoursLesplusSuivis | limitTo:8" class="col-md-3 col-sm-4 col-xs-6 wow fadeIn">
        <div class="shop-item course-v2">
          <div class="post-media entry">
            <!--<div class="ribbon-wrapper-green">
              <div class="ribbon-green">Featured</div>
            </div>-->
            <img ng-src="../../assets/upload/Cours/{{course.images}}" alt="poster du cours {{course.titre | limitTo: 30}}" class="img-responsive"
              style="height: 150px;">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="#" title="Suivre"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
                <a ui-sref="courseSinglePage({sousDomaine:course.sous_categorie._id, idCours:course._id})" title="Visualiser"><i class="fa fa-search" aria-hidden="true"></i></a>
              </div>
              <!-- end shop-bottom -->

              <div class="large-post-meta">
                <span class="avatar"><a ui-sref="profil({username: course.user.username})"><img ng-src="assets/upload/User/{{course.user.images}}" alt="photo profil de {{course.user.username}}" class="img-circle"> {{course.user.username}}</a></span>
                <small>&#124;</small>
                <span><a><i class="fa fa-eye"></i>{{course.nbSuivi}} </a></span>
                <small class="hidden-xs">&#124;</small>
                <span class="hidden-xs"><a href="#"><i class="fa fa-clock-o"></i> 12 Students</a></span>
              </div>
              <!-- end meta -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="shop-desc">
            <div class="shop-price clearfix">
              <div class="pull-left">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <!-- end rating -->
              </div>
              <!-- end left -->
              <div class="pull-right">
                <small ng-click="vm.viewScat(course.sous_categorie)" style="cursor: pointer;"> 
                  <i class="fa fa-graduation-cap"></i>
                  {{course.sous_categorie.libelle | limitTo: 15}}
                  </small>
              </div>
              <!-- end right -->
            </div>
            <h3><a ui-sref="courseSinglePage({sousDomaine:course.sous_categorie._id, idCours:course._id})" title="{{course.description}}"> {{course.titre| limitTo:50}} </a></h3>
          </div>
        </div>
        <!-- end shop-item -->
      </div>
      <!-- end carousel-item -->
    </div>
    <!-- end row -->

    <!--<div class="clearfix"></div>-->
    <div class="row">
      <div class="col-md-12">
        <div class="all-buttons text-center">
          <a ui-sref="coursesPages" ng-click="vm.viderScat()" class="btn btn-primary btn-lg btn-square">TOUS LES COURS</a>
        </div>
        <!-- end allbuttons -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
