<section class="section litpadtop bgw">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 nopad">
        <div class="member-cover">
          <img src="assets/upload/member-cover.jpg" alt="" class="img-responsive">
          <div class="lightoverlay overlay"></div>
          <div class="authorbox">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="clearfix">
                  <div class="avatar-author">
                    <a href="author.html">
                      <img alt="" src="assets/upload/team_01.jpg" class="img-responsive">
                    </a>
                  </div>
                  <div class="author-title desc">
                    <h4><a href="member-profile.html">John DOE</a></h4>
                    <a class="authorlink" href="https://showwp.com">https://showwp.com</a>
                    <ul class="list-inline social-small">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- end authorbox -->
        </div>
        <!-- end cover -->
      </div>
    </div>
    <!-- end row -->
  </div>

  <div class="container">
    <div class="row">
      <div id="sidebar" class="col-md-3 col-sm-12 page-left-sidebar">
        <div class="widget clearfix">
          <div class="member-profile">
            <div class="big-title">
              <h2 class="related-title">
                <span>Activity</span>
              </h2>
            </div>
            <!-- end big-title -->
            <div class="member-desc clearfix">
              <ul>
                <li class="active"><a href="" ng-click="profilCtrl.profilClick()">Profil</a></li>
                <li><a href="" ng-click="profilCtrl.etablissementClick()">Etablissements<span>2</span> </a></li>
                <li><a href="" ng-click="profilCtrl.courseClick()">Courses <span>4</span></a></li>
                <!--<li><a href="member-achievements.html">Achievements <span>6</span></a></li>-->
                <li><a href="">Forum Topics <span>33</span></a></li>
                <li><a href="">Friends <span>8</span></a></li>
                <li><a href="">-Messages <span>5</span></a></li>
                <li><a href="">-Edit Profile</a></li>
              </ul>
              <!-- end ul -->
              <hr>
              <button type="submit" value="SEND" class="button button--wayra btn-block btn-square"> Follow Me</button>
            </div>
            <!-- end team-desc -->
          </div>
          <!-- end team-member -->
        </div>
      </div>
      <!-- end right -->

      <div ng-show="profilCtrl.profil" id="sidebar1" class="col-md-6 col-sm-12">
        <div class="widget clearfix">
          <div class="member-profile">
            <div class="big-title">
              <h2 class="related-title">
                <span>About John's</span>
              </h2>
            </div>
            <!-- end big-title -->

            <p>Howdy, welcome to the my profile, we build professional responsive and retina ready template for online learning
              websites! With our professional course pages, you can earn money from your online courses. Join us today! Create
              and share outstanding quiz's, ask questions and get answer from your awesome clients!</p>

            <p>Lorem Ipsum has been the industry's standard dummy text ever since the, when an unknown printer took Lorem Ipsum
              has been the industry's standard dummy text ever since the, when an unknown printer took. With our professional
              course pages, you can earn money from your online courses. Join us today! Create and share outstanding quiz's,
              ask questions and get answer from your awesome clients!</p>

          </div>
          <!-- end team-member -->
        </div>
      </div>
      <!-- end right -->

      <div ng-show="profilCtrl.etablissement" id="sidebar1" class="col-md-9 col-sm-12">
        <div class="widget clearfix">
          <div class="member-profile">
            <div class="big-title">
              <h2 class="related-title">
                <span>Etablissements</span>
              </h2>
            </div>
            <!-- end big-title -->

            <div class="row profile-badges">
              <div class="col-md-6 col-sm-12 wow fadeIn">
                <div class="boxes text-left service-first withcircle withborder leftservice">
                  <i class="fa fa-user-plus alignleft"></i>
                  <h3>Profile Badge</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                </div>
                <!-- end box -->
              </div>
              <!-- end col -->

              <div class="col-md-6 col-sm-12 wow fadeIn">
                <div class="boxes text-left service-first withcircle withborder leftservice">
                  <i class="fa fa-trophy alignleft"></i>
                  <h3>Win a Compoment</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                </div>
                <!-- end box -->
              </div>
              <!-- end col -->

              <div class="col-md-6 col-sm-12 wow fadeIn">
                <div class="boxes text-left service-first withcircle withborder leftservice">
                  <i class="fa fa-birthday-cake alignleft"></i>
                  <h3>3+ Years of Membership</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                </div>
                <!-- end box -->
              </div>
              <!-- end col -->

              <div class="col-md-6 col-sm-12 wow fadeIn">
                <div class="boxes text-left service-first withcircle withborder leftservice">
                  <i class="fa fa-pencil alignleft"></i>
                  <h3>Contribute Teachme Blog</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                </div>
                <!-- end box -->
              </div>
              <!-- end col -->

              <div class="col-md-6 col-sm-12 wow fadeIn">
                <div class="boxes text-left service-first withcircle withborder leftservice">
                  <i class="fa fa-comments-o alignleft"></i>
                  <h3>Forum Moderator</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                </div>
                <!-- end box -->
              </div>
              <!-- end col -->

              <div class="col-md-6 col-sm-12 wow fadeIn">
                <div class="boxes text-left service-first withcircle withborder leftservice">
                  <i class="fa fa-code alignleft"></i>
                  <h3>Help to the development site</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                </div>
                <!-- end box -->
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- end team-member -->
        </div>
      </div>
      <!-- end right -->

      <div ng-show="profilCtrl.course" id="sidebar1" class="col-md-9 col-sm-12">
        <div class="widget clearfix">
          <div class="member-profile">
            <div class="big-title">
              <h2 class="related-title">
                <span>Active Courses</span>
              </h2>
            </div>
            <!-- end big-title -->

            <div class="postpager liststylepost membercourses">
              <ul class="pager">
                <li>
                  <div class="post">
                    <a href="course-single.html">
                      <img alt="" src="assets/upload/pager_04.jpg" class="img-responsive alignleft">
                      <h4>Learning Web Design & Development</h4>
                      <small>View Course</small>
                    </a>
                    &nbsp;-&nbsp;
                    <small>Expires : 22 June 2016</small>
                  </div>
                </li>
                <li>
                  <div class="post">
                    <a href="course-single.html">
                      <img alt="" src="assets/upload/pager_05.jpg" class="img-responsive alignleft">
                      <h4>Graphic Design Introduction Course</h4>
                      <small>View Course</small>
                    </a>
                    &nbsp;-&nbsp;
                    <small>Expires : 12 May 2016</small>
                  </div>
                </li>
                <li>
                  <div class="post">
                    <a href="course-single.html">
                      <img alt="" src="assets/upload/pager_06.jpg" class="img-responsive alignleft">
                      <h4>Social Media Marketing Strategy</h4>
                      <small>View Course</small> &nbsp;-&nbsp;
                      <small>Expires : 10 May 2016</small>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <!-- end postpager -->

            <hr class="invis">
            <br>

            <div class="big-title">
              <h2 class="related-title">
                <span>Expired Courses</span>
              </h2>
            </div>
            <!-- end big-title -->

            <div class="postpager liststylepost membercourses">
              <ul class="pager">
                <li>
                  <div class="post">
                    <a href="course-single.html">
                      <img alt="" src="assets/upload/pager_01.png" class="img-responsive alignleft">
                      <h4>Learning Professional English in 20 Days</h4>
                      <small>View Course</small> &nbsp;-&nbsp;
                      <small>Expired : &nbsp;Join the Course</small>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="post">
                    <a href="course-single.html">
                      <img alt="" src="assets/upload/pager_02.png" class="img-responsive alignleft">
                      <h4>Selecting Material Design and Color Palette</h4>
                      <small>View Course</small> &nbsp;-&nbsp;
                      <small>Expired : &nbsp;Join the Course</small>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="post">
                    <a href="course-single.html">
                      <img alt="" src="assets/upload/pager_03.jpg" class="img-responsive alignleft">
                      <h4>Getting Starting Web Design and Web Development</h4>
                      <small>View Course</small> &nbsp;-&nbsp;
                      <small>Expired : &nbsp;Join the Course</small>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <!-- end postpager -->
          </div>
          <!-- end team-member -->
        </div>
      </div>
      <!-- end right -->
      <div ng-show="profilCtrl.contact" id="sidebar2" class="col-md-3 col-sm-12 mob30">
        <div class="widget clearfix">
          <div class="member-profile">
            <div class="big-title">
              <h2 class="related-title">
                <span>Contact</span>
              </h2>
            </div>
            <!-- end big-title -->

            <div class="loginform">
              <form class="row">
                <div class="col-md-12">
                  <input type="text" name="name" class="form-control" placeholder="Name">
                  <input type="email" name="email" class="form-control" placeholder="Email">
                  <input type="text" name="name" class="form-control" placeholder="Phone">
                  <textarea class="form-control" name="comments" rows="6" placeholder="Your Bio"></textarea>
                  <button type="submit" value="SEND" class="button button--wayra btn-block btn-square"> Contact</button>
                </div>
              </form>
            </div>
          </div>
          <!-- end team-member -->
        </div>
      </div>
      <!-- end right -->

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end section -->

<section class="welcomebox-wrapper">
  <div class="container">
    <div class="welcomebox m900">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
          <h2>Learning Management System</h2>
          <p>Welcome to Teachme creative site template for learning websites and companies.</p>
        </div>
        <!-- end col -->
        <div class="col-md-4 col-sm-4 col-xs-12 text-right">
          <a href="login.html" class="btn btn-default">Create Account</a>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end callout -->
  </div>
</section>
<!-- end section -->
