<section class="section litpadtop bgw">
 <form id="editprofilform" class="row" name="editprofilform" method="post" enctype="multipart/form-data">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 nopad">
        <div class="member-cover">
          <img src="assets/upload/User/{{profilCtrl.userData.imagecouverture}}" alt="" class="img-responsive" style="height: 500px; width:1300px">
          <div class="lightoverlay overlay"></div>
          <div class="authorbox">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="clearfix">
                  <div class="avatar-author">
                    <a>
                      <div class="post-media entry">
                        <img id="imgTag" alt="photo profil de {{profilCtrl.userData.username}}" ng-src="assets/upload/User/{{profilCtrl.userData.images}}"
                          class="img-responsive">
                        <div class="magnifier" ng-show="profilCtrl.privateLink">
                          <div class="shop-bottom clearfix">
                            <a ng-click="profilCtrl.showDialog()" title="Changer la photo"><i class="fa fa-wrench"></i></a>
                            <input type="file" style="display:none;" name="myFile" id="selectPP">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="author-title desc">
                    <h4><a>{{profilCtrl.userData.username}}</a></h4>
                    <!--<a class="authorlink" href="https://showwp.com">https://showwp.com</a>-->
                    <ul class="list-inline social-small">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- end authorbox -->
        </div>
        <!-- end cover -->
      </div>
    </div>
    <!-- end row -->
  </div>
</form>
  <div class="container">
    <div class="row">
      <div id="sidebar" class="col-md-3 col-sm-12 page-left-sidebar">
        <div class="widget clearfix">
          <div class="member-profile">
            <div class="big-title">
              <h2 class="related-title">
                <span>Activité</span>
              </h2>
            </div>
            <!-- end big-title -->
            <div class="member-desc clearfix">
              <ul id="ss_sidebar">
                <li class="active"><a ng-click="profilCtrl.profilClick(); profilCtrl.doActive($event)" class="profilClass">Profil</a></li>
                <li><a ng-click="profilCtrl.etablissementClick(); profilCtrl.doActive($event)" class="etabClass">Etablissements<span> {{profilCtrl.LesEtabIncrit.length}} </span> </a></li>
                <li><a ng-click="profilCtrl.courseClick(); profilCtrl.doActive($event)" class="coursesClass">Cours <span> {{profilCtrl.lesCoursSuivis.length}} </span></a></li>
                <!--<li><a href="member-achievements.html">Achievements <span>6</span></a></li>-->
                <li><a href="">Sujets du forum <span>33</span></a></li>
                <li><a href="">Ami(e)s <span>8</span></a></li>
                <li ng-show="profilCtrl.privateLink"><a href="">-Messages <span>5</span></a></li>
                <li ng-show="profilCtrl.privateLink"><a href="">-Editer le profil</a></li>
              </ul>
              <!-- end ul -->
              <hr>
              <button type="submit" value="SEND" class="button button--wayra btn-block btn-square"> Suivez moi</button>
            </div>
            <!-- end team-desc -->
          </div>
          <!-- end team-member -->
        </div>
      </div>
      <!-- end right -->

      <div ng-show="profilCtrl.profil" id="sidebar1" class="col-md-6 col-sm-12">
        <div class="widget clearfix">
          <div class="member-profile">
            <div class="big-title">
              <h2 class="related-title">
                <span> {{profilCtrl.userData.name}}</span>
              </h2>
            </div>
            <!-- end big-title -->

            <p>Howdy, welcome to the my profile, we build professional responsive and retina ready template for online learning
              websites! With our professional course pages, you can earn money from your online courses. Join us today! Create
              and share outstanding quiz's, ask questions and get answer from your awesome clients!</p>

            <p>Lorem Ipsum has been the industry's standard dummy text ever since the, when an unknown printer took Lorem Ipsum
              has been the industry's standard dummy text ever since the, when an unknown printer took. With our professional
              course pages, you can earn money from your online courses. Join us today! Create and share outstanding quiz's,
              ask questions and get answer from your awesome clients!</p>

          </div>
          <!-- end team-member -->
        </div>
      </div>
      <!-- end right -->

      <div ng-show="profilCtrl.etablissement" id="sidebar1" class="col-md-9 col-sm-12">
        <div class="widget clearfix">
          <div class="member-profile">
            <div class="big-title">
              <h2 class="related-title">
                <span>Etablissements inscrit</span>
              </h2>
            </div>
            <!-- end big-title -->

            <div class="row profile-badges" style="width: 750px">
              <div class="col-md-6 col-sm-12 wow fadeIn" ng-repeat="etab in profilCtrl.LesEtabIncrit">
                <div ui-sref="etablissement({id: etab._id})" class="boxes text-left service-first withcircle withborder leftservice" style="min-height: 200px;">
                 <a href="">  <img width="80px" alt="photo profil de {{etab.libelle}}" ng-src="assets/upload/Etablissement/{{etab.images}}" class="img-responsive img-circle alignleft"></a>

                   <h3><a href=""> {{etab.libelle}}</a> </h3>
                  <p> {{etab.adresse}} </p>
                  <p> {{etab.email}} </p>
                  <p> {{etab.tel}} </p>
                </div>
                <!-- end box -->
              </div>
            </div>
            <!-- end col -->

            <div class="big-title">
              <h2 class="related-title">
                <span>Etablissements suivi</span>
              </h2>
            </div>
            <div class="row profile-badges">
              <div class="col-md-6 col-sm-12 wow fadeIn">
                <div class="boxes text-left service-first withcircle withborder leftservice" style="min-height: 230px;">
                  <i class="fa fa-birthday-cake alignleft"></i>
                  <h3>plus de 3 années d'adhésion</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                </div>
              </div>
              <!-- end col -->

              <div class="col-md-6 col-sm-12 wow fadeIn">
                <div class="boxes text-left service-first withcircle withborder leftservice" style="min-height: 230px;">
                  <i class="fa fa-pencil alignleft"></i>
                  <h3>Contribuer au Blog SamaSchooL</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                </div>
              </div>
              <!-- end col -->

              <div class="col-md-6 col-sm-12 wow fadeIn">
                <div class="boxes text-left service-first withcircle withborder leftservice" style="min-height: 230px;">
                  <i class="fa fa-pencil alignleft"></i>
                  <h3>Contribuer au Blog SamaSchooL</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                </div>
              </div>
              <!-- end col -->

              <div class="col-md-6 col-sm-12 wow fadeIn">
                <div class="boxes text-left service-first withcircle withborder leftservice" style="min-height: 230px;">
                  <i class="fa fa-comments-o alignleft"></i>
                  <h3>Modérateur du forum</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                </div>
              </div>
              <!-- end col -->

              <div class="col-md-6 col-sm-12 wow fadeIn">
                <div class="boxes text-left service-first withcircle withborder leftservice" style="min-height: 230px;">
                  <i class="fa fa-code alignleft"></i>
                  <h3>Aide au site de développement</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                </div>
              </div>
              <!-- end box -->

              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- end team-member -->
        </div>
      </div>
      <!-- end right -->

      <div ng-show="profilCtrl.course" id="sidebar1" class="col-md-9 col-sm-12">
        <!--<div ng-if="profilCtrl.createCourseLink" class="row" style="margin-bottom: 2em;">
          <div class="col-md-4">
            <button ng-click="profilCtrl.createCourseClick()" type="submit" value="SEND" class="button button--wayra btn-block btn-square"> Demarrer Ici pour creer un cours</button>
          </div>
        </div>-->
        <div class="widget clearfix">
          <div class="member-profile">
            <!--les cours suivis-->
            <div ng-if="profilCtrl.lesCoursSuivis && profilCtrl.lesCoursSuivis.length > 0">
              <div class="big-title">
                <h2 class="related-title">
                  <span>Cours actifs</span>
                </h2>
              </div>
              <!-- end big-title -->


              <div class="postpager liststylepost membercourses">
                <ul class="pager">
                  <li ng-repeat="cours in profilCtrl.lesCoursSuivis">
                    <div class="post">
                      <a ui-sref="courseSinglePage({sousDomaine:cours.sous_categorie, idCours:cours._id})">
                        <img alt="" ng-src="../../assets/upload/Cours/{{cours.images}}" class="img-responsive alignleft" style="height: 80px; width:80px">
                        <h4> {{cours.titre|limitTo:70}} </h4>
                        <small> {{cours.description|limitTo:40}} </small>
                      </a>
                      &nbsp;-&nbsp;
                      <small>Expiré : 22 June 2016</small>
                    </div>
                  </li>

                </ul>
              </div>
              <!-- end postpager -->

              <hr class="invis">
              <br>
            </div>
            <!--les cours expirés-->
            <div ng-if="profilCtrl.lesCoursExpires && profilCtrl.lesCoursExpires.length > 0">
              <div class="big-title">
                <h2 class="related-title">
                  <span>Expiré Courses</span>
                </h2>
              </div>
              <!-- end big-title -->

              <div class="postpager liststylepost membercourses">
                <ul class="pager">
                  <li>
                    <div class="post">
                      <a href="course-single.html">
                        <img alt="" src="assets/upload/pager_01.png" class="img-responsive alignleft" style="height: 80px; width:80px">
                        <h4>Learning Professional English in 20 Days</h4>
                        <small>View Course</small> &nbsp;-&nbsp;
                        <small>Expiré : &nbsp;Rejoignez le cours</small>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="post">
                      <a href="course-single.html">
                        <img alt="" src="assets/upload/pager_02.png" class="img-responsive alignleft">
                        <h4>Selecting Material Design and Color Palette</h4>
                        <small>View Course</small> &nbsp;-&nbsp;
                        <small>Expired : &nbsp;Rejoignez le cours</small>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="post">
                      <a href="course-single.html">
                        <img alt="" src="assets/upload/pager_03.jpg" class="img-responsive alignleft">
                        <h4>Getting Starting Web Design and Web Development</h4>
                        <small>View Course</small> &nbsp;-&nbsp;
                        <small>Expiré : &nbsp;Rejoignez le cours</small>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- end postpager -->
              <hr class="invis">
              <br>
            </div>
            <!--les cours crées-->
            <div ng-if="profilCtrl.isprof && profilCtrl.lesCoursCrees.length > 0">
              <div class="big-title">
                <h2 class="related-title">
                  <span>Cours crées</span>
                </h2>
              </div>
              <!-- end big-title -->


              <div class="postpager liststylepost membercourses">
                <ul class="pager">
                  <li ng-repeat="cours in profilCtrl.lesCoursCrees">
                    <div class="post">
                      <a ui-sref="courseSinglePage({sousDomaine:cours.sous_categorie._id, idCours:cours._id})">
                        <img alt="" ng-src="../../assets/upload/Cours/{{cours.images}}" class="img-responsive alignleft" style="height: 80px; width:80px">
                        <h4> {{cours.titre|limitTo:70}} </h4>
                      </a>
                      <small> Sous Categorie </small> &nbsp;-&nbsp;
                      <small>Crée : {{cours.date_creation | date:'medium'}}</small>&nbsp;-&nbsp;
                      <small ng-show="profilCtrl.privateLink"><a ui-sref="createcourse({id: cours._id})"> <i class="fa fa-pencil" aria-hidden="true"></i></a></small>
                    </div>
                  </li>

                </ul>
              </div>
              <!-- end postpager -->
            </div>

          </div>
          <!-- end team-member -->
        </div>
      </div>
      <!-- end right -->


      <div ng-show="profilCtrl.contact" id="sidebar2" class="col-md-3 col-sm-12 mob30">
        <div class="widget clearfix">
          <div class="member-profile">
            <div class="big-title">
              <h2 class="related-title">
                <span>Infos supplementaires</span>
              </h2>
            </div>
            <!-- end big-title -->

            <div class="loginform">
              <form class="row">
                <div class="col-md-12">
                  <input type="text" name="facebook" class="form-control" placeholder="Facebook">
                  <input type="text" name="twitter" class="form-control" placeholder="Twitter">
                  <input type="text" name="linkedin" class="form-control" placeholder="Linkedin">
                  <input type="email" name="google-plus" class="form-control" placeholder="Google-plus">
                  <input type="date" name="dateNaiss" class="form-control" placeholder="Date de Naissance">
                  <textarea class="form-control" name="comments" rows="6" placeholder="Votre Bio"></textarea>
                   <!--Dropdown des sous categories:-->
                    <label for="categorie">Categories </label>
                    <!-- Single button -->
                    <div class="btn-group" uib-dropdown is-open="false">
                      <button ng-model="profilCtrl.categ.id" id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle
                        ng-disabled="disabled" >
                      {{profilCtrl.categ.libelle | limitTo:23}} 
                      <span class="caret"></span>
                    </button>
                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem" ng-repeat="cat in profilCtrl.listCat" ng-click="profilCtrl.selectedCateg(cat)"><a href="#">{{cat.libelle}}</a></li>
                      </ul>
                  </div>
                  <button type="submit" value="SEND" class="button button--wayra btn-block btn-square" style="margin-top: 2em"> Enregistrer</button>
                </div>
              </form>
            </div>
          </div>
          <!-- end team-member -->
        </div>
      </div>
      <!-- end right -->

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
  </div>
</section>
<!-- end section -->

<!--<section class="welcomebox-wrapper">
  <div class="container">
    <div class="welcomebox m900">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
          <h2>Learning Management System</h2>
          <p>Welcome to Teachme creative site template for learning websites and companies.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 text-right">
          <a href="login.html" class="btn btn-default">Create Account</a>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- end section -->
