<!--<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">samaschool</a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p> </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>-->
<header class="header header-absolute">
  <div class="container-fluid">
    <nav class="navbar navbar-default yamm">
      <div class="container-f">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

          <a id="logo-left" class="navbar-brand text-center" ng-href="/">Sama<span>School</span>
                            <small>Learning Management System</small>
                            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown hasmenu active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="fa fa-angle-down"></span></a>
              <ul class="dropdown-menu">
                <li><a href="index-1.html">Home Search Hero</a></li>
                <li><a href="index-2.html">Home Video Parallax</a></li>
                <li><a href="index-3.html">Home Landing Page</a></li>
                <li><a href="index-4.html">Home Leftside Menu</a></li>
                <li><a href="index-5.html">Home Boxed Version</a></li>
                <li><a href="index-6.html">Home Alternative Style</a></li>
                <li><a href="index-7.html">Home Under Construction</a></li>
              </ul>
            </li>
            <li><a href="page-about.html">About</a></li>
            <li class="dropdown has-submenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses <span class="fa fa-angle-down"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Member Panel <span class="fa fa-angle-right"></span></a>
                  <ul class="dropdown-menu show-left" role="menu">
                    <li><a href="member-profile.html">Member Profile</a></li>
                    <li><a href="member-courses.html">Member Courses</a></li>
                    <li><a href="member-achievements.html">Member Achievements</a></li>
                    <li><a href="member-messages.html">Member Messages</a></li>
                    <li><a href="member-friends.html">Member Friends</a></li>
                    <li><a href="member-profile-edit.html">Member Profile Edit</a></li>
                    <li><a href="member-login.html">Member Login</a></li>
                  </ul>
                </li>
                <li><a href="course-list.html">Courses List View</a></li>
                <li><a href="course-grid.html">Courses Grid View</a></li>
                <li><a href="course-filterable-3.html">Courses Filterable 3 Col</a></li>
                <li><a href="course-filterable-4.html">Courses Filterable 4 Col</a></li>
                <li><a href="course-sidebar.html">Courses With Sidebar</a></li>
                <li><a href="course-single.html">Course Single</a></li>
                <li><a href="course-quiz.html">Course Quiz</a></li>
                <li><a href="course-checkout.html">Course Checkout</a></li>
              </ul>
            </li>
            <li class="dropdown hasmenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="fa fa-angle-down"></span></a>
              <ul class="dropdown-menu">
                <li><a href="page-about.html">About Company</a></li>
                <li><a href="page-pricing.html">Pricing & Plan</a></li>
                <li><a href="page-contact.html">Get In Touch</a></li>
                <li><a href="page-became-member-profile.html">Became a Teacher</a></li>
                <li><a href="page-team.html">Team & Instructors</a></li>
                <li><a href="page-testimonials.html">Happy Testimonials</a></li>
                <li><a href="page-not-found.html">Page Not Found</a></li>
                <li><a href="page-right-sidebar.html">Page Right Sidebar</a></li>
                <li><a href="page-left-sidebar.html">Page Left Sidebar</a></li>
                <li><a href="page-no-sidebar.html">Page No Sidebar</a></li>
              </ul>
            </li>
            <li class="megamenu dropdown hasmenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features  <span class="fa fa-angle-down"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <div class="yamm-content clearfix">
                    <div class="row">
                      <ul class="col-sm-4 list-unstyled box">
                        <li><a href="shortcode-carousel.html">Carousel Elements</a></li>
                        <li><a href="shortcode-courses.html">Course Boxes</a></li>
                        <li><a href="shortcode-boxes.html">Image & Service Boxes</a></li>
                        <li><a href="shortcode-counts.html">Counts & Progress</a></li>
                        <li><a href="shortcode-pricing.html">Pricing Tables</a></li>
                        <li><a href="shortcode-tabs.html">Tab Elements</a></li>
                      </ul>

                      <ul class="col-sm-4 list-unstyled box">
                        <li><a href="shortcode-toggle.html">Toggle Elements</a></li>
                        <li><a href="shortcode-buttons.html">All Used Buttons</a></li>
                        <li><a href="shortcode-forms.html">Form Fields</a></li>
                        <li><a href="shortcode-multimedia.html">Multimedia Elements</a></li>
                        <li><a href="shortcode-columns.html">Columns & Grid</a></li>
                        <li><a href="shortcode-typography.html">Typography Elements</a></li>
                      </ul>

                      <ul class="col-sm-4 list-unstyled box">
                        <li><a href="header-1.html">Default Header Style </a></li>
                        <li><a href="header-2.html">Logo & Menu Center</a></li>
                        <li><a href="header-3.html">Logo & Menu Leftside</a></li>
                        <li><a href="header-4.html">Header Transparent</a></li>
                        <li><a href="header-5.html">Header Alternative 1</a></li>
                        <li><a href="header-6.html">Header Alternative 2</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown hasmenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="fa fa-angle-down"></span></a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">Blog List Layout</a></li>
                <li><a href="blog-1.html">Blog Normal Layout</a></li>
                <li><a href="blog-2.html">Blog No Sidebar</a></li>
                <li><a href="blog-3.html">Blog Grid Sidebar</a></li>
                <li><a href="blog-4.html">Blog Grid Fullwidth</a></li>
                <li><a href="single.html">Blog Single Sidebar</a></li>
                <li><a ui-sref="signup">Blog Single Fullwidth</a></li>

              </ul>
            </li>
            <li><a href="forums.html">Forums</a></li>
            <li><a href="page-contact.html">Contact</a></li>
            <!--<li ng-if="$ctrl.isLoggedIn()">{{$ctrl.getCurrentUser().name}}</li>-->
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li ng-if="$ctrl.isLoggedIn()" class="cartmenu dropdown hasmenu" ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-shopping-bag"></i> <sup>2</sup></a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">Blog List Layout</a></li>
                <li><a href="blog-1.html">Blog Normal Layout</a></li>
                <li><a ui-sref="logout">Log-out</a></li>
              </ul>
            </li>
            <li ng-if="!$ctrl.isLoggedIn()" class="cartmenu" ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo"><a ng-click="$ctrl.open()"><i class="fa fa-sign-in" aria-hidden="true"></i> </a></li>
            <li class="dropdown cartmenu searchmenu hasmenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i></a>
              <ul class="dropdown-menu show-right">
                <li>
                  <div id="custom-search-input">
                    <div class="input-group col-md-12">
                      <input type="text" class="form-control input-lg" placeholder="Search here..." />
                      <span class="input-group-btn">
                                                        <button class="btn btn-primary btn-lg" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </nav>
    <!-- end nav -->
  </div>
  <!-- end container -->
</header>
<!-- end header -->


<script type="text/ng-template" id="myModalContent.html">
  <div class="tab-first menu-center">
    <div class="modal-header" style="border: 0px;">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#connexion" aria-controls="connexion" role="tab" data-toggle="tab">Connexion</a></li>
        <li role="presentation"><a href="#inscription" aria-controls="inscription" role="tab" data-toggle="tab">Inscription</a></li>
      </ul>
    </div>
    <div class="tab-content" class="modal-body" id="modal-body">
      <div role="tabpanel" class="tab-pane active" id="connexion">
        <div class="tab-padding clearfix">
          <div class="loginform" ng-controller="LoginController as vm">
            <form class="form row" name="form" ng-submit="vm.login(form)" novalidate>
              <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                  <input type="email" placeholder="Email" name="email" class="form-control" ng-model="vm.user.email" required>
                </div>

                <div class="form-group">
                  <input type="password" placeholder="Password" name="password" class="form-control" ng-model="vm.user.password" required>
                </div>

                <div class="form-group has-error">
                  <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
                    Please enter your email and password.
                  </p>
                  <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                    Please enter a valid email.
                  </p>

                  <p class="help-block">{{ vm.errors.login }} </p>
                </div>

                <div>
                  <button type="submit" value="SEND" class="btn btn-primary btn-block btn-lg"> Login Account</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="inscription">
        <div class="tab-padding clearfix">
          <div class="row">
            <div class="col-md-7 col-md-offset-3">
              <ul class="list-inline social-small" style="height:40px; margin-left:20px;">
                <li><a href="#"><i style="height:30px; width: 100px;" class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i style="height:30px; width: 100px;" class="fa fa-google-plus"></i></a></li>
              </ul>
              <!-- end social icons -->
            </div>
          </div>
          <div class="row" style="height:30px; margin-left:10px;">
            <div class="col-md-2 col-md-offset-5"> <strong> Ou </strong> </div>
          </div>
          <div class="loginform" ng-controller="SignupController as vm">
            <form class="form row" name="form" ng-submit="vm.register(form)" novalidate>
              <div class="col-md-10 col-md-offset-1">
                <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
                  <input type="text" name="name" class="form-control" ng-model="vm.user.name" placeholder="Username" required/>
                  <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
                    A name is required
                  </p>
                </div>
                <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
                  <input type="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Email" required mongoose-error/>
                  <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                    Doesn't look like a valid email.
                  </p>
                  <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
                    What's your email address?
                  </p>
                  <p class="help-block" ng-show="form.email.$error.mongoose">
                    {{ vm.errors.email }}
                  </p>
                </div>


                <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">

                  <input placeholder="Password" type="password" name="password" class="form-control" ng-model="vm.user.password" ng-minlength="3"
                    required mongoose-error/>

                  <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
                    Password must be at least 3 characters.
                  </p>

                  <p class="help-block" ng-show="form.password.$error.mongoose">
                    {{ vm.errors.password }}
                  </p>
                </div>


                <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">

                  <input placeholder="Confirm password" type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                    match="vm.user.password" ng-minlength="3" required mongoose-error/>

                  <p class="help-block" ng-show="form.confirmPassword.$error.match && vm.submitted">
                    Passwords must match.
                  </p>

                  <p class="help-block" ng-show="form.confirmPassword.$error.mongoose">
                    {{ vm.errors.confirmPassword }}
                  </p>
                  <p class="help-block" style="color: red;" ng-show="vm.matchPass"> 
                    Passwords must match.
                  </p>
                </div>


                <div>
                  <button type="submit" value="SEND" class="btn btn-primary btn-block btn-lg"> Create Account</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
<script type="text/ng-template" id="stackedModal.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
  </div>
  <div class="modal-body" id="modal-body-{{name}}">
    Having multiple modals open at once is probably bad UX but it's technically possible.
  </div>
</script>
