<banner></banner>
<section class="section bgg">
    <div class="container">
        <div class="section-title text-center">
            <h3 class="hidden-xs">INSCRIPTION</h3>
            <h2>COMMENT REJOINDRE L'EQUIPE</h2>
        </div>
        <!-- end section-title -->
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="custom-form clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Formulaire d'inscription</span>
                        </h2>
                    </div>
                    <!-- end big-title -->
                    <div class="loginform">
                        <form class="row">
                            <div class="col-md-12">
                                <input type="text" name="name" class="form-control" placeholder="Your name" ng-model="registerCtrl.libelle">
                                <input type="email" name="email" class="form-control" placeholder="Email" ng-model="registerCtrl.email">
                                <input type="text" name="name" class="form-control" placeholder="Adresse" ng-model="registerCtrl.adresse">
                                <input type="text" name="name" class="form-control" placeholder="Phone" ng-model="registerCtrl.tel">
                                <!-- <textarea class="form-control" name="comments" rows="6" placeholder="Your Bio"></textarea>-->
                                <button type="submit" value="SEND" class="button button--wayra btn-block btn-square btn-lg" ng-click="registerCtrl.ajoutEtablissement()"> Join us Today</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end col -->

            <div class="col-md-8 col-sm-12">
                <div class="panel-group first-accordion withicon" id="accordion1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse11"><i class="fa fa-question"></i> Pourquoi devrez-vous rejoindre l'equipe ?</a>
                            </h4>
                        </div>
                        <div id="collapse11" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>SamaSchooL est une plateforme socio-éducative ciblant trois types d'Utilisateurs (etudiants,professeurs
                                    et etablissement), hébergeant des cours en ligne, créés par des établissements d’enseignement
                                    supérieur, et des professeurs partenaires de SamaSchooL.</p>
                                </p> En vous inscrivant sur la pateforme en ligne, vous rejoignez une communauté mondiale d'établissements.
                                L'ambition de SamaSchooL est de fournir un accès aux meilleures formations de l’enseignement
                                supérieur et ce, quelle que soit votre localisation géographique.</p>
                                <p>En s’inscrivant sur le site, l’etablissement a la possibilité de publier des annonces diverses
                                    ou des cours. Il a un espace qui lui est reservé, dans lequel il peut s'adresser à tout
                                    type d'Utilisateurs.
                                </p>
                                <p>Les Conditions Générales d’Utilisation, la Charte Utilisateurs et la Politique de Confidentialité.
                                    Tout accès et/ou utilisation de SamaSchooL est subordonné au respect de l’ensemble des
                                    termes des Conditions Générales d’Utilisation.

                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse22"><i class="fa fa-question"></i> Que gagnez-vous dans notre équipe ?</a>
                            </h4>
                        </div>
                        <div id="collapse22" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end section -->