<banner></banner>
<section class="section bgg">
    <div class="container">
        <div class="section-title text-center">
            <h3 class="hidden-xs">INSTRUCTOR</h3>
            <h2>HOW TO JOIN THE TEAM</h2>
        </div>
        <!-- end section-title -->
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="custom-form clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Instructor Form</span>
                        </h2>
                    </div>
                    <!-- end big-title -->
                    <div class="loginform">
                        <form class="row">
                            <div class="col-md-12">
                                <input type="text" name="name" class="form-control" placeholder="Your name" ng-model="registerCtrl.libelle">
                                <input type="email" name="email" class="form-control" placeholder="Email" ng-model="registerCtrl.email">
                                <input type="text" name="name" class="form-control" placeholder="Adresse" ng-model="registerCtrl.adresse">
                                <input type="text" name="name" class="form-control" placeholder="Phone" ng-model="registerCtrl.tel">
                                <!-- <textarea class="form-control" name="comments" rows="6" placeholder="Your Bio"></textarea>-->
                                <button type="submit" value="SEND" class="button button--wayra btn-block btn-square btn-lg" ng-click="registerCtrl.ajoutEtablissement()"> Join us Today</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end col -->

            <div class="col-md-8 col-sm-12">
                <div class="panel-group first-accordion withicon" id="accordion1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse11"><i class="fa fa-question"></i> Why should I join your team?</a>
                            </h4>
                        </div>
                        <div id="collapse11" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea commodo consequat.
                                </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse22"><i class="fa fa-question"></i> What would you gain on your team?</a>
                            </h4>
                        </div>
                        <div id="collapse22" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse33"><i class="fa fa-question"></i> Can I get paid?</a>
                            </h4>
                        </div>
                        <div id="collapse33" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end section -->