<section class="section bgw">
  <div class="container">
    <div class="section-title-2 text-center">
      <h2>NOUS SOMMES PROFESSIONNEL</h2>
      <p class="lead">Nous construisons des parcours incroyables ! Ne manquez pas de nous rejoindre aujourd'hui !</p>
      <hr>
    </div>
    <!-- end section-title -->
    <div class="row services-wrapper">
      <div class="col-md-3 col-sm-6">
        <div class="boxes text-center service-first">
          <h3>Bienvenue à UAHB</h3>
          <p>Un temple du savoir qui vous forme a devenir professionnel et entreprendre un avenir meilleur !</p>
          <a href="#" class="btn btn-primary btn-trans btn-radius">Lire la suite</a>
        </div>
        <!-- end box -->
      </div>
      <!-- end col -->
      <div class="col-md-3 col-sm-6">
        <div class="boxes services">
          <div class="entry">
            <img src="assets/upload/cultur_uahb.jpg" alt="" class="img-responsive img-rounded" style="height: 300px;width: 800px">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="#" title=""><i class="fa fa-users btn-radius"></i></a>
              </div>
              <!-- end shop-bottom -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- entry -->
          <h3>Ce que nous faisons</h3>
          <p>Depuis sa première rentrée académique de Novembre 2006, votre établissement, l'UNIVERSITE AMADOU HAMPATE BA DE
            DAKAR, est confrontée, chaque année, à la redoutable question entre l'effectif des étudiants inscrits et le nombre
            de salles de cours pour les accueil. </p>
        </div>
        <!-- end box -->
      </div>
      <!-- end col -->
      <div class="col-md-3 col-sm-6">
        <div class="boxes services">
          <div class="entry">
            <img src="assets/upload/president.jpg" alt="" class="img-responsive img-rounded" style="height: 300px;width: 800px">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="#" title=""><i class="fa fa-graduation-cap btn-radius"></i></a>
              </div>
              <!-- end shop-bottom -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- entry -->
          <h3>Qui nous sommes</h3>
          <p>Sénégalais d'adoption, le Déclarant responsable du collège Moderne Jean de la Fontaine ,Monsieur Michel Claver
            GBAYA, a incontestablement beaucoup oeuvré et contribué à la qualité et à la promotion de l'enseignent privé
            laïc au Sénégal.
            <!--Son établissement ne fuit-il pas le premier à obtenir un lauréat au concours Général en 1991
            ? Performance qui, jusque-là, était l'apanage exclusif des établissements publics ou privés catholiques. C'est
            pourquoi, sa contribution et celle de son établissement, durant quarante six années, aux efforts de l'Etat, dans
            le domaine aussi bien de l'emploi que de l'éducation et de la formation des enfants, sont reconnues et appréciées.
            C'est en raison de tous ces services rendus à la Nation que Monsieur Michel Claver GBAYA a été élevé au Grade
            de chevalier de l'ordre du Mérite, après avoir été décoré des Palmes académiques et après avoir reçu de nombreuses
            lettres de félicitation des autorités du Sénégal. Son initiative d'ouvrir, aujourd'hui un établissement d'enseignement
            supérieur est la poursuite et le couronnement de l'œuvre qu'il accomplit, depuis 46 ans, à la tête d'un établissement
            secondaire reconnu pour son sérieux et son dynamisme : le Collège Moderne Jean de la Fontaine. Son enseignement
            de près d'un demi siècle au service de l'Ecole sénégalaise mérite aujourd'hui, au moment où son nouvel établissement,
            l'UNIVERSITÉ AMADOU HAMPATHE BA DE DAKAR, a ouvert officiellement ses portes en Octobre 2006, nos encouragements
            et nos souhaits de chance et de réussite dans cette nouvelle étape de sa contribution au développement du Sénégal.-->
          </p>
        </div>
        <!-- end box -->
      </div>
      <!-- end col -->
      <div class="col-md-3 col-sm-6">
        <div class="boxes services">
          <div class="entry">
            <img src="assets/upload/informatique.jpg" alt="" class="img-responsive img-rounded" style="height: 300px;width: 800px">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="#" title=""><i class="fa fa-question btn-radius"></i></a>
              </div>
              <!-- end shop-bottom -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- entry -->
          <h3>Nos Termes</h3>
          <p>- L'architecture des études est fondée sur 3 grades (Licence, Master, Doctorat) Diplômes déclinés en domaines,
            mentions et spécialités. - Organisation de formation en semestre. - Système composé d'unités d'enseignement (U.E)
            ou modules.
            <!--- Mise en œuvre de système de crédits capitalisables et transférables - Chaque semestre totalise
            30 crédits. 
            - Existence de deux filières (académique et professionnelle). - Enseignement obligatoire d'une langue
            étrangère (anglais …) et de l'utilisation de l'outil informatique. 
            - Contrôle continu plus contrôle terminal.
            - Organisation des formations en semestre. L'année universitaire est organisée en semestre et le semestre devient
            désormais l'unité de base. Un semestre comprend 16 semaines d'enseignement et d'évaluation, pouvant comporter
            au moins 3 unités d'enseignements avec un volume horaire global semestriel de 360 heures minimum. Un semestre
            équivaut à 30 crédits ; ainsi, un cursus licence organisé en 6 semestres vaut 80 crédits et un cursus master
            organisé en 4 semestres correspond à 120 crédits. La poursuite des études dans un nouveau semestre est de droit
            pour tout étudiant àqui ne manque au maximum que la validation d'un certain nombre de crédits dans l'ancien semestre.
            Un étudiant passe dans le semestre supérieur lorsqu'il n'a pas, en dette, plus d'un certain nombre de crédits
            dans le semestre précédent.</p>-->
        </div>
        <!-- end box -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end section -->
<section class="section bgd btop">
 <form id="editannonceform" class="row" name="editannonceform" method="post" enctype="multipart/form-data">
  <div class="row-fluid">
    <div class="container">
      <data-owl-carousel class="owl-carousel nav-center text-center" data-options="{center: true, items: 1, navigation: true, pagination: false, rewindNav : false, autoplay:false}">
        <div owl-carousel-item="" ng-repeat="annonce in vm.LesAnnoncesParEtab" class="item">
          <div class="row" style="margin-top: -1em; float: right; padding: 1em;">
            <!--<div class="col-md-2 col-md-offset-10">-->
            <a class="btn btn-primary btn-square" ng-click="" title="Ajouter une annonce"><i class="fa fa-plus"></i></a>
            <a class="btn btn-primary btn-square" ng-click="vm.slider= {'index': $index, 'idAnnonce': annonce._id}; vm.modifyAnnonceClick(annonce)" title="Modifier l'annonce"><i class="fa fa-wrench"></i></a>
            <a class="btn btn-primary btn-square" ng-click="" title="Supprimer l'annonce"><i class="fa fa-trash"></i></a>
            <!--</div>-->
          </div>
          <div class="row" style="height: 400px;">
            <div id="myimg{{annonce._id}}" class="col-md-6 myimg" ng-style="{'background':'url(assets/upload/Etablissement/{{annonce.images}}) no-repeat center center', 'background-size': 'cover'}">
              <a ng-if="vm.modifyAnnonce && vm.slider.index === $index" ng-click="vm.ouvreDialog()" style="margin-top: 10em;" class="btn btn-primary btn-square" title="Prendre une photo"><i class="fa fa-upload"></i></a>
              <input style="display: none;" type="file" id="a" name="myFile">
            </div>

            <div class="col-md-6 col-md-offset-6" ng-if="!vm.modifyAnnonce || vm.slider.index !== $index">
              <div class="about-module wpa">
                <h4>Titre</h4>
                <h3>Professional Course Builder</h3>
                <p> {{ annonce.contenu }} </p>
                <!--<a href="#" class="btn btn-primary btn-square">START HERE</a>-->
              </div>
              <!-- end about-module -->
            </div>
           
            <div class="col-md-6 col-md-offset-6" ng-if="vm.modifyAnnonce && vm.slider.index === $index">
              <div class="about-module wpa">
                <input ng-model="vm.titreAnnonceAModifier" type="text" id="titreAnnone" class="form-control" placeholder="Titre">
                <textarea ng-model="vm.descriptionAnnonceAModifier" class="form-control" id="description" rows="10" placeholder="Description de l'annone"></textarea>
                <button type="submit" value="SEND" id="submit" class="btn btn-primary" ng-click="vm.modifAnnonce()"> Valider</button>
              </div>
              <!-- end modification -->

            </div>
  
      </data-owl-carousel>
      <!--end of row-->
      </div>
      <!-- end container -->
      </div>
      <!-- end row fluid -->
      </form>
</section>
