<section class="section bgd btop">
  <div class="row-fluid">
    <div class="container">
      <div id="owl-annonces" class="carousel-widget nav-center text-center">
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6 myimg3"></div>
            <div class="col-md-6 col-md-offset-6">
              <div class="about-module wpa">
                <h4>LEARN ANYTHING FROM ANYWHERE</h4>

                <h3>Professional Course Builder</h3>

                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                  in some form, by injected humour, or randomised believable. Sufferede foshumour, or randomised..</p>


                <p>But the majority have suffered alteration in some form, by injected humour, or randomised believable. Suffered
                  alteration in some form, by injected humour, or randomised..</p>

                <a href="#" class="btn btn-primary btn-square">START HERE</a>
              </div>
              <!-- end about-module -->
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6 myimg"></div>
            <div class="col-md-6 col-md-offset-6">
              <div class="about-module wpa">
                <h4>LEARN ANYTHING FROM ANYWHERE</h4>

                <h3>Professional Course Builder</h3>

                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                  in some form, by injected humour, or randomised believable. Sufferede foshumour, or randomised..</p>


                <p>But the majority have suffered alteration in some form, by injected humour, or randomised believable. Suffered
                  alteration in some form, by injected humour, or randomised..</p>

                <a href="#" class="btn btn-primary btn-square">START HERE</a>
              </div>
              <!-- end about-module -->
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6 myimg4"></div>
            <div class="col-md-6 col-md-offset-6">
              <div class="about-module wpa">
                <h4>LEARN ANYTHING FROM ANYWHERE</h4>

                <h3>Professional Course Builder</h3>

                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                  in some form, by injected humour, or randomised believable. Sufferede foshumour, or randomised..</p>


                <p>But the majority have suffered alteration in some form, by injected humour, or randomised believable. Suffered
                  alteration in some form, by injected humour, or randomised..</p>

                <a href="#" class="btn btn-primary btn-square">START HERE</a>
              </div>
              <!-- end about-module -->
            </div>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!-- end container -->
  </div>
  <!-- end row fluid -->
</section>
