<section class="section bgd btop" ng-if="vm.LesAnnoncesParEtab.length !== 0">
  <div class="row-fluid">
    <div class="container">
      <data-owl-carousel class="owl-carousel nav-center text-center" data-options="{center: true, items: 1, navigation: true, pagination: false, rewindNav : false, autoplay:false}">
        <div owl-carousel-item="" ng-repeat="annonce in vm.LesAnnoncesParEtab" class="item">
          <div class="row" style="margin-top: -1em; float: right; padding: 1em;">
            <!--<div class="col-md-2 col-md-offset-10">-->
            <a class="btn btn-primary btn-square" ng-click="vm.slider= {'index': $index, 'idAnnonce': 'a'}; vm.addAnnonce()" title="Ajouter une annonce"><i class="fa fa-plus"></i></a>
            <a class="btn btn-primary btn-square" ng-click="vm.slider= {'index': $index, 'idAnnonce': annonce._id}; vm.modifyAnnonceClick(annonce)"
              title="Modifier l'annonce"><i class="fa fa-wrench"></i></a>
            <a class="btn btn-primary btn-square" ng-click="vm.slider= {'index': $index, 'idAnnonce': annonce._id}; vm.supprimerAnnonce(annonce)"
              title="Supprimer l'annonce"><i class="fa fa-trash"></i></a>
            <!--</div>-->
          </div>
          <form id="editannonceform" class="row" name="editannonceform" method="post" enctype="multipart/form-data">
            <div class="row" style="height: 400px;">
              <!--Affchage image Annonce-->
              <div id="myimg{{vm.slider.idAnnonce}}" class="col-md-6 myimg" ng-style="{'background':'url(assets/upload/Etablissement/{{annonce.images}}) no-repeat center center', 'background-size': 'cover'}">
                <a ng-if="(vm.modifyAnnonce || vm.addAnnoncebool) && vm.slider.index === $index" ng-click="vm.ouvreDialog()" style="margin-top: 10em;"
                  class="btn btn-primary btn-square" title="Prendre une photo"><i class="fa fa-upload"></i></a>
                <input style="display: none;" type="file" id="a" name="myFile">
              </div>

              <!--affichage Annonce-->
              <div class="col-md-6 col-md-offset-6" ng-if="(!vm.modifyAnnonce && !vm.addAnnoncebool) || vm.slider.index !== $index">
                <div class="about-module wpa">
                  <h3>
                    {{annonce.titre}}
                  </h3>
                  <p> {{annonce.contenu}}</p>
                </div>
                <!-- end about-module -->
              </div>
              <!--champs pour modifier annonce-->
              <div class="col-md-6 col-md-offset-6" ng-if="vm.modifyAnnonce && vm.slider.index === $index">
                <div class="about-module wpa">
                  <input ng-model="vm.titreAnnonceAModifier" type="text" class="form-control">
                  <textarea ng-model="vm.descriptionAnnonceAModifier" class="form-control" rows="10"></textarea>
                  <button type="submit" class="btn btn-primary" ng-click="vm.modifAnnonce()"> Valider</button>
                </div>
                <!-- end modification -->

              </div>
              <!--champs pour ajouter annonce-->
              <div class="col-md-6 col-md-offset-6" ng-if="vm.addAnnoncebool && vm.slider.index === $index">
                <div class="about-module wpa">
                  <input ng-model="vm.titreAnnonceAAjouter" type="text" class="form-control" placeholder="Titre">
                  <textarea ng-model="vm.descriptionAnnonceAAjouter" class="form-control" rows="10" placeholder="Description de l'annone"></textarea>
                  <button type="submit" class="btn btn-primary" ng-click="vm.modifAnnonce()"> Ajouter</button>
                </div>
              </div>
            </div>

          </form>
      </data-owl-carousel>
      <!--end of row-->
      </div>
      <!-- end container -->
    </div>
    <!-- end row fluid -->
</section>

<section class="section bgd btop" ng-if="vm.LesAnnoncesParEtab.length === 0">
  <div class="row-fluid">
    <div class="container">
      <data-owl-carousel class="owl-carousel nav-center text-center" data-options="{center: true, items: 1, navigation: true, pagination: false, rewindNav : false, autoplay:false}">
        <div owl-carousel-item="" ng-repeat="annonce in vm.annoncesParDefaut | limitTo:2" class="item">
          <div class="row" style="margin-top: -1em; float: right; padding: 1em;">
            <!--<div class="col-md-2 col-md-offset-10">-->
            <a class="btn btn-primary btn-square" ng-click="vm.addItemToAnnonceList()" title="Ajouter une annonce"><i class="fa fa-plus"></i></a>
            <a class="btn btn-primary btn-square" ng-click="vm.slider= {'index': $index, 'idAnnonce': annonce._id}; vm.modifyAnnonceClick(annonce)"
              title="Modifier l'annonce"><i class="fa fa-wrench"></i></a>
            <a class="btn btn-primary btn-square" ng-click="vm.slider= {'index': $index, 'idAnnonce': annonce._id}; vm.supprimerAnnonce(annonce)"
              title="Supprimer l'annonce"><i class="fa fa-trash"></i></a>
            <!--</div>-->
          </div>
          <form id="ajoutannonceform" class="row" name="editannonceform" method="post" enctype="multipart/form-data">
            <div class="row" style="height: 400px;">
              <div id="myimg{{annonce._id}}" class="col-md-6 myimg" ng-style="{'background':'url(assets/upload/Etablissement/{{annonce.images}}) no-repeat center center', 'background-size': 'cover'}">
                <a ng-if="vm.modifyAnnonce && vm.slider.index === $index" ng-click="vm.ouvreDialog()" style="margin-top: 10em;" class="btn btn-primary btn-square"
                  title="Prendre une photo"><i class="fa fa-upload"></i></a>
                <input style="display: none;" type="file" id="a" name="myFile">
              </div>

              <div class="col-md-6 col-md-offset-6" ng-if="!vm.modifyAnnonce || vm.slider.index !== $index">
                <div class="about-module wpa">
                  <!--<pre>-->
                  <h3>
                    {{annonce.titre}}
                  </h3>
                  <p> {{annonce.contenu}} </p>
                  <!--</pre>-->
                  <!--<a href="#" class="btn btn-primary btn-square">START HERE</a>-->
                </div>
                <!-- end about-module -->
              </div>

              <div class="col-md-6 col-md-offset-6" ng-if="vm.modifyAnnonce && vm.slider.index === $index">
                <div class="about-module wpa">
                  <input ng-model="vm.titreAnnonceAAjouter" type="text" id="titreAnnone" class="form-control" placeholder="Titre">
                  <textarea ng-model="vm.descriptionAnnonceAAjouter" class="form-control" id="description" rows="10" placeholder="Description de l'annone"></textarea>
                  <button type="submit" id="submit" class="btn btn-primary" ng-click="vm.modifAnnonce()"> Valider</button>
                </div>
                <!-- end modification -->

              </div>
            </div>

          </form>
      </data-owl-carousel>
      <!--end of row-->
      </div>
      <!-- end container -->
    </div>
    <!-- end row fluid -->
</section>
