<section class="section bgw">
  <div class="container">
    <div class="section-title text-center">
      <h3 class="hidden-xs">PROFFESSEURS</h3>
      <h2>TOPS PROFESSEURS</h2>
    </div>
    <!-- end section-title -->
    <div class="row team-wrapper">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-member">
          <div class="post-media entry">
            <img src="assets/upload/team_01.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                <a href="#" title=""><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- end shop-bottom -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="team-desc">
            <a ui-sref="profil">
              <h4>John DOE</h4>
            </a>
            <small>Web Designer</small>
            <p>Lorem ipsum m dolor sit amet, consectetur adipiing elit.dolor sit amet, consectetur adipiing elit.</p>
          </div>
          <!-- end team-desc -->

          <div class="skills text-left">
            <p>Web Design</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-transitiongoal="100"><span>100</span></div>
            </div>
            <p>Web Development</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-transitiongoal="87"><span>87</span></div>
            </div>
            <p>SEO Marketing</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-transitiongoal="78"><span>78</span></div>
            </div>
          </div>
          <!-- end skills -->
        </div>
        <!-- end team-member -->
      </div>
      <!-- end col -->

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-member">
          <div class="post-media entry">
            <img src="assets/upload/team_02.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                <a href="#" title=""><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- end shop-bottom -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="team-desc">
            <h4>Jenny SENDINS</h4>
            <small>English Teacher</small>
            <p>Consectetur adipiing elit.dolor sit amet, consectetur adipiing lorem ipsum m dolor sit amet elit.</p>
          </div>
          <!-- end team-desc -->
          <div class="skills text-left">
            <p>Web Design</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-transitiongoal="98"><span>98</span></div>
            </div>
            <p>Web Development</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-transitiongoal="100"><span>100</span></div>
            </div>
            <p>SEO Marketing</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-transitiongoal="66"><span>66</span></div>
            </div>
          </div>
          <!-- end skills -->
        </div>
        <!-- end team-member -->
      </div>
      <!-- end col -->

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-member">
          <div class="post-media entry">
            <img src="assets/upload/team_03.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                <a href="#" title=""><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- end shop-bottom -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="team-desc">
            <h4>Rick BOBSEN</h4>
            <small>Graphic Designer</small>
            <p>Adipiing consectetur adipiing elit.dolor sit amet, consectetur lorem ipsum m dolor sit amet elit.</p>
          </div>
          <!-- end team-desc -->
          <div class="skills text-left">
            <p>Web Design</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-transitiongoal="66"><span>66</span></div>
            </div>
            <p>Web Development</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-transitiongoal="99"><span>99</span></div>
            </div>
            <p>SEO Marketing</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-transitiongoal="78"><span>78</span></div>
            </div>
          </div>
          <!-- end skills -->
        </div>
        <!-- end team-member -->
      </div>
      <!-- end col -->

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-member">
          <div class="post-media entry">
            <img src="assets/upload/team_04.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                <a href="#" title=""><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- end shop-bottom -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="team-desc">
            <h4>Andy ROBINSON</h4>
            <small>Fashion Designer</small>
            <p>Dolor consectetur adipiing elit.dolor sit amet, consectetur adipiing lorem ipsum m sit amet elit.</p>
          </div>
          <!-- end team-desc -->
          <div class="skills text-left">
            <p>Web Design</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-transitiongoal="87"><span>87</span></div>
            </div>
            <p>Web Development</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-transitiongoal="66"><span>66</span></div>
            </div>
            <p>SEO Marketing</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-transitiongoal="86"><span>86</span></div>
            </div>
          </div>
          <!-- end skills -->
        </div>
        <!-- end team-member -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end section -->
