<section class="section bgw" id="topProf">
  <div class="container">
    <div class="section-title text-center">
      <h3 class="hidden-xs">PROFFESSEURS</h3>
      <h2>TOPS PROFESSEURS</h2>
    </div>
    <!-- end section-title -->
    <div class="row team-wrapper">
      <!-- end col -->
      <data-owl-carousel id="owl-profs" class="owl-carousel" data-options="{navigation: true, pagination: false, rewindNav : true}">
        <div owl-carousel-item="" ng-repeat="prof in vm.LesProfsPlusSuivis" class="item">
          <div class="team-member">
            <div class="post-media entry">
              <img ng-src="assets/upload/User/{{prof.professeur.images}}" alt="" class="img-responsive" style="height: 250px">
              <div class="magnifier">
                <div class="shop-bottom clearfix">
                  <a href="#" title=""><i class="fa fa-facebook"></i></a>
                  <a href="#" title=""><i class="fa fa-twitter"></i></a>
                  <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                  <a href="#" title=""><i class="fa fa-google-plus"></i></a>
                </div>
                <!-- end shop-bottom -->
              </div>
              <!-- end magnifier -->
            </div>
            <!-- end post-media -->
            <div class="team-desc">
              <a ui-sref="profil({username: prof.professeur.username})">
                <h4> {{ prof.professeur.name }} </h4>
              </a>
              <small>Developer teacher</small>
              <p>Lorem ipsum m dolor sit amet, consectetur adipiing elit.dolor sit amet, consectetur adipiing elit.</p>
            </div>
            <!-- end team-desc -->
            <div class="skills text-left">
              <p>Followers</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" data-transitiongoal="100"><span> {{ prof.nbfois}} </span></div>
              </div>



            </div>
            <!-- end skills -->
          </div>
          <!-- end team-member -->

        </div>
      </data-owl-carousel>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end section -->
