<section class="section bgw">
  <div class="container">
    <div class="big-title">
      <h2 class="related-title">
        <span>Recent Posts</span>
      </h2>
    </div>
    <!-- end big-title -->

    <div id="owl-blog" class="carousel-widget">
      <div class="carousel-item">
        <div class="shop-item">
          <div class="post-media entry">
            <img src="assets/upload/blog_01.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="single.html" title="Full Preview"><i class="fa fa-link"></i></a>
              </div>
              <!-- end shop-bottom -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="shop-desc">
            <div class="shop-price clearfix">
              <small><a href="#">Web Design</a></small>
            </div>
            <h3><a href="single.html" title="">E-Learning System for Everything</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>

          <div class="large-post-meta">
            <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_02.png" alt="" class="img-circle"> Amanda DOE</a></span>
            <small>&#124;</small>
            <span><a href="single.html"><i class="fa fa-clock-o"></i> 12 March 2016</a></span>
            <small class="hidden-xs">&#124;</small>
            <span class="hidden-xs"><a href="single.html"><i class="fa fa-comments-o"></i> 12 Comments</a></span>
          </div>
          <!-- end meta -->
        </div>
        <!-- end shop-item -->
      </div>
      <!-- end carousel-item -->

      <div class="carousel-item">
        <div class="shop-item">
          <div class="post-media entry">
            <img src="assets/upload/blog_02.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="single.html" title="Full Preview"><i class="fa fa-link"></i></a>
              </div>
              <!-- end shop-bottom -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="shop-desc">
            <div class="shop-price clearfix">
              <small><a href="#">Web Design</a></small>
            </div>
            <h3><a href="single.html" title="">Way to learn than to go to school</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>

          <div class="large-post-meta">
            <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_01.png" alt="" class="img-circle"> Jenny DOE</a></span>
            <small>&#124;</small>
            <span><a href="single.html"><i class="fa fa-clock-o"></i> 11 March 2016</a></span>
            <small class="hidden-xs">&#124;</small>
            <span class="hidden-xs"><a href="single.html"><i class="fa fa-comments-o"></i> 78 Comments</a></span>
          </div>
          <!-- end meta -->
        </div>
        <!-- end shop-item -->
      </div>
      <!-- end carousel-item -->

      <div class="carousel-item">
        <div class="shop-item">
          <div class="post-media entry">
            <img src="assets/upload/blog_03.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="single.html" title="Full Preview"><i class="fa fa-link"></i></a>
              </div>
              <!-- end shop-bottom -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="shop-desc">
            <div class="shop-price clearfix">
              <small><a href="#">Web Design</a></small>
            </div>
            <h3><a href="single.html" title="">The benefits of teamwork</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>

          <div class="large-post-meta">
            <span class="avatar"><a href="member-profile.html"><img src="assets/upload/avatar_02.png" alt="" class="img-circle"> Amanda DOE</a></span>
            <small>&#124;</small>
            <span><a href="single.html"><i class="fa fa-clock-o"></i> 05 March 2016</a></span>
            <small class="hidden-xs">&#124;</small>
            <span class="hidden-xs"><a href="single.html"><i class="fa fa-comments-o"></i> 33 Comments</a></span>
          </div>
          <!-- end meta -->
        </div>
        <!-- end shop-item -->
      </div>
      <!-- end carousel-item -->
    </div>
    <!-- end carousel-widget -->
  </div>
  <!-- end container -->
</section>