<section class="section bgw">
  <div class="container">
    <div class="section-title-2 text-center">
      <h2>Notre Equipe</h2>
      <p class="lead">We build awesome course & university sites! Don't miss out join us today!</p>
      <hr>
    </div>
    <!-- end section-title -->
    <div class="row team-wrapper">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-member text-center">
          <div class="post-media entry">
            <img src="assets/upload/president.jpg" alt="" class="img-responsive" style="height: 250px">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                <a href="#" title=""><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- end shop-bottom -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="team-desc">
            <h4>Monsieur Michel Claver GBAYA</h4>
            <small>PRESISDENT DE L'UA</small>
          </div>
          <!-- end team-desc -->
        </div>
        <!-- end team-member -->
      </div>
      <!-- end col -->

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-member text-center">
          <div class="post-media entry">
            <img src="assets/upload/recteur.png" alt="" class="img-responsive" style="height: 250px">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                <a href="#" title=""><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- end shop-bottom -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="team-desc">
            <h4>Mr. Mamadou KANE</h4>
            <small>RECTEUR DE L'UAHB</small>
          </div>
          <!-- end team-desc -->
        </div>
        <!-- end team-member -->
      </div>
      <!-- end col -->

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-member text-center">
          <div class="post-media entry">
            <img src="assets/upload/dr_scolarite.png" alt="" class="img-responsive" style="height: 250px">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                <a href="#" title=""><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- end shop-bottom -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="team-desc">
            <h4>Mr. Wagane FAYE</h4>
            <small>DR. DE LA SCOLARITÉ</small>
          </div>
          <!-- end team-desc -->
        </div>
        <!-- end team-member -->
      </div>
      <!-- end col -->

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-member text-center">
          <div class="post-media entry">
            <img src="assets/upload/inscription.png" alt="" class="img-responsive" style="height: 250px">
            <div class="magnifier">
              <div class="shop-bottom clearfix">
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                <a href="#" title=""><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- end shop-bottom -->
            </div>
            <!-- end magnifier -->
          </div>
          <!-- end post-media -->
          <div class="team-desc">
            <h4>Mr.Papa B. MACALOU</h4>
            <small>CHARGÉ D'INSCRIPTION</small>
          </div>
          <!-- end team-desc -->
        </div>
        <!-- end team-member -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>