<!--<banner></banner>-->
<section class="section bgw">
  <div class="container">
    <!--<div style="margin: 4em;" class="text-center image-center hidden-xs">
      <img src="assets/upload/device_03.png" alt="" class="img-responsive wow fadeInUp" style="display: block;">
    </div>-->
    <div class="row">




      <!--   [TITRE,  DESCRIPTION   ET   PLAN DU COURS  ]     1ere partie du cours      -->

      <div id="post-content" ng-if="courseCtrl.firstPart" class="col-md-8 col-sm-12 single-course">
        <!--    [TITRE DU COURS]    -->
        <div class="text-center">
          <h3 ng-hide="courseCtrl.inModif">
            <a ui-sref="courseSinglePage({sousDomaine:courseCtrl.LeCours.sous_categorie._id, idCours:courseCtrl.LeCours._id, idChap: ''})"
              title="{{courseCtrl.LeCours.titre}}">{{courseCtrl.LeCours.titre}} </a>
          </h3>
          <!-- titre modification -->
          <form ng-show="courseCtrl.inModif" name="titreForm">
            <h3 contenteditable name="titreContent" ng-model="courseCtrl.LeCours.titre" strip-br="true" ng-minlength="5" ng-maxlength="200"
              required>
              <a ui-sref="courseSinglePage({sousDomaine:courseCtrl.LeCours.sous_categorie._id, idCours:courseCtrl.LeCours._id, idChap: ''})"
                title="{{courseCtrl.LeCours.titre}}">{{courseCtrl.LeCours.titre}} </a>
            </h3>
            <span ng-show="titreForm.titreContent.$error.required">le titre du cours est obligatoire</span>
            <span ng-show="titreForm.titreContent.$error.minlength">le titre doit depasser 5 caracteres</span>
            <span ng-show="titreForm.titreContent.$error.maxlength">vous avez dépasser le nombre maximum de caracteres</span>
          </form>
          <div class="post-sharing">
            <ul class="list-inline">
              <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="hidden-xs">Share on Facebook</span></a></li>
              <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="hidden-xs">Tweet on Twitter</span></a></li>
              <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
          <!-- end post-sharing -->
        </div>
        <!-- end -->
        <hr class="invis">


        <!--    [DESCRIPTION DU COURS]    -->
        <div class="course-single-desc clearfix">
          <!-- end big-title -->
          <div class="isa_info">
            <i class="fa fa-info-circle"></i>
            <p ng-hide="courseCtrl.inModif" ng-bind-html="courseCtrl.LeCours.description"></p>
            <!--Modification de la description (ou objectif) du cours -->
            <form name="objectifForm">
              <div ng-show="courseCtrl.inModif" class="form-group">
                <!--<label for="objectif">Objectif du cours</label>-->
                <textarea name="objectifContent" class="form-control" id="objectif" rows="4" ckeditor="courseCtrl.options" ng-model="courseCtrl.LeCours.description"
                  required ng-minlength="40"></textarea>
                <span ng-show="objectifForm.objectifContent.$error.required">Objectif obligatoire!!!</span>
                <span ng-show="objectifForm.objectifContent.$error.minlength">Objectif trop court!!!</span>
              </div>
            </form>
          </div>
        </div>
        <!-- end post-padding -->

        <hr class="invis">

        <!-- SI EXITE  [PLAN DU COURS]     -->
        <div class="course-table clearfix" ng-if="courseCtrl.LesChapitres.length > 0">
          <div class="big-title">
            <h2 class="related-title">
              <span>Programme</span>
            </h2>
          </div>
          <!-- end big-title -->
          <table class="table">
            <thead>
              <tr>
                <th>Type</th>
                <th>Titre</th>
                <th>Partie</th>
              </tr>
            </thead>
            <tbody>
              <tr style="cursor: pointer;" ui-sref="courseSinglePage({sousDomaine:courseCtrl.LeCours.sous_categorie._id, idCours:courseCtrl.LeCours._id, idChap:chapitre._id})"
                ui-sref-active="doActive" ng-repeat="chapitre in courseCtrl.LesChapitres | orderBy: 'numchap'">
                <td><i class="fa fa-play-circle"></i></td>
                <td>{{chapitre.libelle | uppercase}}</td>
                <td>{{chapitre.numchap}}</td>
              </tr>
            </tbody>
          </table>
          <!--<input type="submit" value="Suivre ce cours" ng-hide="courseCtrl.cacher()" ng-click="courseCtrl.suivreClick()" class="btn btn-primary btn-block"
          />
          <input type="submit" ng-hide="courseCtrl.isLoggedIn()" value="Suivre ce cours" class="btn btn-primary btn-block disabled"
          />
          <input type="submit" value="Ne plus suivre" ng-show="courseCtrl.bool" ng-click="courseCtrl.pasSuivreClick()" class="btn btn-danger btn-block"
          />-->
        </div>
        <!-- end course-table -->
        <!-- SI EXITE PAS  [BUTTON VERS CONTENU COURS]     -->
        <div class="all-buttons text-center" ng-show="courseCtrl.LeCours.contenu">
          <a ng-click="courseCtrl.exploreCourse()" class="btn btn-primary btn-lg btn-square">Explorer le cours</a>
        </div>


        <!--<hr class="invis1">-->
        <!--place des commentaires-->
      </div>
      <!-- end col -->






      <!--   [TITRE   ET  CONTENU  COURS]     2em partie du cours   -->

      <div id="post-content" ng-if="courseCtrl.secondPart" class="col-md-8 col-sm-12 single-course">
        <!--    [TITRE DU COURS]    -->
        <div ng-if="courseCtrl.$stateParams.idChap === ''" class="text-center">
          <h3>
            <a ui-sref="courseSinglePage({sousDomaine:courseCtrl.LeCours.sous_categorie._id, idCours:courseCtrl.LeCours._id, idChap: ''})"
              ng-click="courseCtrl.titreClick()" title="{{courseCtrl.LeCours.titre}}">{{courseCtrl.LeCours.titre}} </a>
          </h3>

          <div class="post-sharing">
            <ul class="list-inline">
              <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="hidden-xs">Share on Facebook</span></a></li>
              <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="hidden-xs">Tweet on Twitter</span></a></li>
              <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
          <!-- end post-sharing -->
        </div>
        <!-- end -->


        <!--    [TITRE DU CHAPITRE]    -->
        <div ng-if="courseCtrl.$stateParams.idChap !== ''" class="text-center">
          <h3 ng-hide="courseCtrl.inModif">
            <a ui-sref="courseSinglePage({sousDomaine:courseCtrl.LeCours.sous_categorie._id, idCours:courseCtrl.LeCours._id, idChap: courseCtrl.LeChapitre.libelle})"
              title="{{courseCtrl.LeChapitre.libelle}}"> {{courseCtrl.LeChapitre.numchap}} {{courseCtrl.LeChapitre.libelle}} </a>
          </h3>


          <!-- titre chap modification -->
          <form ng-show="courseCtrl.inModif" name="titreChapForm">
            <h3 contenteditable name="titreChapContent" ng-model="courseCtrl.LeChapitre.libelle" strip-br="true" ng-minlength="5" ng-maxlength="200"
              required>
              <a ui-sref="courseSinglePage({sousDomaine:courseCtrl.LeCours.sous_categorie._id, idCours:courseCtrl.LeCours._id, idChap: courseCtrl.LeChapitre.libelle})"
                title="{{courseCtrl.LeChapitre.libelle}}">{{courseCtrl.LeChapitre.libelle}} </a>
            </h3>
            <span ng-show="titreChapForm.titreChapContent.$error.required">le titre du Chapitre est obligatoire</span>
            <span ng-show="titreChapForm.titreChapContent.$error.minlength">le titre doit depasser 5 caracteres</span>
            <span ng-show="titreChapForm.titreChapContent.$error.maxlength">vous avez dépasser le nombre maximum de caracteres</span>
          </form>



          <div class="post-sharing">
            <ul class="list-inline">
              <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="hidden-xs">Share on Facebook</span></a></li>
              <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="hidden-xs">Tweet on Twitter</span></a></li>
              <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
          <!-- end post-sharing -->
        </div>
        <!-- end -->

        <hr class="invis">

        <!--  [CONTENU VIDEO DU COURS SANS CHAPITRE]  -->
        <div ng-if="courseCtrl.$stateParams.idChap === ''" class="post-media clearfix">
          <!--LIEN VIDEO-->
          <iframe width="560" height="315" src="{{courseCtrl.LeCours.link |trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
          <p ng-show="courseCtrl.inModif">
            <input type="text" name="videoLink" class="form-control" ng-model="courseCtrl.LeCours.link">
          </p>
        </div>
        <!-- end media -->


        <!--  [CONTENU VIDEO DU COURS AVEC CHAPITRE]  -->
        <div ng-if="courseCtrl.$stateParams.idChap !== ''" class="post-media clearfix">
          <iframe width="300" height="200" src="{{courseCtrl.LeChapitre.linkchapitre |trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
          <p ng-show="courseCtrl.inModif">
            <input type="text" name="videoChapLink" class="form-control" ng-model="courseCtrl.LeChapitre.link">
          </p>
        </div>
        <!-- end media -->

        <!--   [DESCRIPTION DU COURS AVEC CHAPITRE]    -->
        <div ng-if="courseCtrl.$stateParams.idChap !== ''" class="course-single-desc clearfix">
          <!-- end big-title -->
          <div class="isa_info">
            <i class="fa fa-info-circle"></i>
            <p ng-hide="courseCtrl.inModif" ng-bind-html="courseCtrl.LeChapitre.objectif"></p>
            <!--Modification de la description (ou objectif) du CHAPITRE -->
            <form name="objectifChapForm">
              <div ng-show="courseCtrl.inModif" class="form-group">
                <!--<label for="objectif">Objectif du cours</label>-->
                <textarea name="objectifChapContent" class="form-control" id="objectif" rows="4" ckeditor="courseCtrl.options" ng-model="courseCtrl.LeChapitre.objectif"
                  required ng-minlength="40"></textarea>
                <span ng-show="objectifChapForm.objectifChapContent.$error.required">Objectif obligatoire!!!</span>
                <span ng-show="objectifChapForm.objectifChapContent.$error.minlength">Objectif trop court!!!</span>
              </div>
            </form>
          </div>
        </div>
        <!-- end post-padding -->

        <hr class="invis">
        <!--  [CONTENU TEXTE DU COURS]  -->
        <div ng-if="courseCtrl.$stateParams.idChap === ''" class="course-single-desc clearfix">
          <p ng-hide="courseCtrl.inModif" ng-bind-html="courseCtrl.LeCours.contenu"></p>
          <!--Modification du contenu  du cours -->
          <form name="contenuForm">
            <div ng-show="courseCtrl.inModif" class="form-group">
              <!--<label for="contenu">contenu du cours</label>-->
              <textarea name="contenuContent" class="form-control" id="contenuCours" rows="4" ckeditor="courseCtrl.options" ng-model="courseCtrl.LeCours.contenu"
                required ng-minlength="40"></textarea>
              <span ng-show="contenuForm.contenuContent.$error.required">contenu obligatoire!!!</span>
              <span ng-show="contenuForm.contenuContent.$error.minlength">contenu trop court!!!</span>
            </div>
          </form>
        </div>
        <!-- end post-padding -->

        <!--  [CONTENU TEXTE DU CHAPITRE]  -->
        <div ng-if="courseCtrl.$stateParams.idChap !== ''" class="course-single-desc clearfix">
          <p ng-hide="courseCtrl.inModif" ng-bind-html="courseCtrl.LeChapitre.contenu"></p>
          <!--Modification du contenu  du CHAPITRE -->
          <form name="contenuChapForm">
            <div ng-show="courseCtrl.inModif" class="form-group">
              <!--<label for="contenu">contenu du cours</label>-->
              <textarea name="contenuChapContent" class="form-control" id="contenu" rows="4" ckeditor="courseCtrl.options" ng-model="courseCtrl.LeChapitre.contenu"
                required ng-minlength="40"></textarea>
              <span ng-show="contenuChapForm.contenuChapContent.$error.required">contenu obligatoire!!!</span>
              <span ng-show="contenuChapForm.contenuChapContent.$error.minlength">contenu trop court!!!</span>
            </div>
          </form>
        </div>
        <!-- end post-padding -->




        <!--   [PAGINATION ENTRE LES CHAPITRES]    -->
        <div ng-if="courseCtrl.$stateParams.idChap !== ''" class="row col-md-offset-3">

          <!--<div class="all-buttons text-center col-md-4 col-md-offset-2">
            <a class="btn btn-primary btn-lg btn-square"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Le chapitre précédent</a>
          </div>
          <div class="all-buttons text-center col-md-4">
            <a class="btn btn-primary btn-lg btn-square">Le chapitre suivant <i class="fa fa-arrow-right" aria-hidden="true"></i> </a>
          </div>-->

          <div class="post-sharing">
            <ul class="list-inline">
              <li><a ui-sref="courseSinglePage({sousDomaine:courseCtrl.LeCours.sous_categorie._id, idCours:courseCtrl.LeCours._id, idChap: ''})"
                  title="{{courseCtrl.LeCours.titre}}" class="gp-button btn btn-primary" title="Home"><i class="fa fa-home"></i></a></li>
              <li ng-if="courseCtrl.isThePrev"><a ui-sref="courseSinglePage({sousDomaine:courseCtrl.LeCours.sous_categorie._id, idCours:courseCtrl.LeCours._id, idChap: courseCtrl.isThePrev._id})"
                  title="courseCtrl.isThePrev.libelle" class="btn btn-primary"><i class="fa fa-arrow-left"></i><span class="hidden-xs">Précédent Chapitre</span> </a></li>

              <li ng-if="courseCtrl.isTheNext"><a ui-sref="courseSinglePage({sousDomaine:courseCtrl.LeCours.sous_categorie._id, idCours:courseCtrl.LeCours._id, idChap: courseCtrl.isTheNext._id})"
                  title="courseCtrl.isTheNext.libelle" class="btn btn-primary"><span class="hidden-xs">Prochain chapitre</span><i class="fa fa-arrow-right" aria-hidden="true"></i> </a></li>
            </ul>
          </div>
          <!-- end post-sharing -->
        </div>

      </div>
      <!-- end col -->





      <!--SIDEBAR-->

      <div id="sidebar" class="col-md-3 col-sm-12">
        <div class="row">
          <div class="post-media clearfix">
            <!--Le poster du cours et la modification du poster-->
            <!--<form id="editPosterForm" class="row" name="editPosterForm" method="post" enctype="multipart/form-data">-->
            <div class="entry">
              <img id="posterTag" ng-src="../../assets/upload/Cours/{{courseCtrl.LeCours.images}}" alt="" class="img-responsive">
              <div class="magnifier">
                <div class="shop-bottom clearfix">
                  <a ng-click="courseCtrl.showDialog()" title="Changer la photo"><i class="fa fa-wrench"></i></a>
                  <input type="file" style="display:none;" name="myFile" id="coursePoster">
                </div>
              </div>
            </div>
            <!--</form>-->
          </div>
          <!-- end post-media -->
          <div class="widget custom-widget course-pricing clearfix">
            <div class="customwidget text-left w40">
              <h4 class="text-center">{{courseCtrl.LeCours.titre}}</h4>
              <!--<h4 class="text-center">90 Days Money Back Guarantee</h4>-->
              <hr>
              <div class="rating">
                <p>Note : &nbsp;
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
              </div>
              <!-- end rating -->
              <hr>
              <input type="submit" value="Suivre ce cours" ng-hide="courseCtrl.cacher()" ng-click="courseCtrl.suivreClick()" class="btn btn-primary btn-block"
              />
              <input type="submit" ng-hide="courseCtrl.isLoggedIn()" value="Suivre ce cours" class="btn btn-primary btn-block disabled"
              />
              <input type="submit" value="Ne plus suivre" ng-show="courseCtrl.bool" ng-click="courseCtrl.pasSuivreClick()" class="btn btn-danger btn-block"
              />
              <div class="course-meta clearfix">
                <hr>
                <!--Modification SOusDomaine-->
                <p ng-hide="courseCtrl.inModif" class="course-category">Domaine: <a> {{courseCtrl.LeCours.sous_categorie.libelle}}</a></p>

                <!--CATEGORIES-->
                <div ng-show="courseCtrl.inModif && courseCtrl.firstPart" class="btn-group" uib-dropdown is-open="false">
                  <button ng-model="courseCtrl.categ.id" id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                      {{courseCtrl.categ.libelle | limitTo:13}} 
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="cat in courseCtrl.lesCategories" ng-click="courseCtrl.selectedCateg(cat)"><a href="#">{{cat.libelle}}</a></li>
                  </ul>
                </div>
                <!--Sous CATEGORIES-->
                <div ng-show="courseCtrl.inModif && courseCtrl.firstPart" class="btn-group" uib-dropdown is-open="false">
                  <button ng-model="courseCtrl.scateg.id" id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                      {{courseCtrl.scateg.libelle | limitTo:13}} 
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="scat in courseCtrl.lesSousCategories" ng-click="courseCtrl.sousCategCourse(scat)"><a href="#">{{scat.libelle}}</a></li>
                  </ul>
                </div>

                <hr>
                <p class="course-instructors">Professeur :
                  <a ui-sref="profil({username:courseCtrl.LeCours.user.username})" title="{{courseCtrl.LeCours.user.username}}">
                    <img width="30px" height="30px" ng-src="assets/upload/User/{{courseCtrl.LeCours.user.images}}" class="img-circle" alt="">                    {{courseCtrl.LeCours.user.username}}
                  </a>
                </p>
                <hr>
                <!--DUREE DU COURS-->
                <p ng-hide="courseCtrl.inModif" class="course-time">Durée : {{courseCtrl.LeCours.nbheures}}h</p>
                <!--Modification duree du cours-->
                <form name="nbHeure">
                  <p ng-show="courseCtrl.inModif && courseCtrl.firstPart" class="course-time">Durée :
                    <input style="color: #000;" ng-change="courseCtrl.verifyNumber()" type="number" id="nbh" ng-model="courseCtrl.LeCours.nbheures"
                      name="nbheur" ng-min="1" ng-max="99" required /> <br>
                    <span ng-show="courseCtrl.numberError" class="label label-warning">le nombre d'heures doit etre compris entre 1 et 99h</span>
                    <span ng-show="nbHeure.nbheur.$error.required" class="label label-warning"> Mettre la durée du cours </span>
                    <span ng-show="nbHeure.nbheur.$error.max || nbHeure.nbheur.$error.min" class="label label-warning"> le nombre d'heures doit etre compris entre 1 et 99h </span>
                  </p>
                </form>
                <hr>
                <input type="submit" ng-show="courseCtrl.inModif" ng-click="courseCtrl.updateCourse()" value="Mettre à jour" class="btn btn-primary btn-block"
                />
                <input type="submit" ng-click="courseCtrl.doModify()" ng-show="!courseCtrl.inModif && courseCtrl.courseCreator" value="Cliquez pour modifier"
                  class="btn btn-primary btn-block" />

                <!--<p class="course-forum">Course Forum : <a href="#" title="">Web Designers</a></p>-->
              </div>
              <!-- end meta -->
            </div>
            <!-- end newsletter -->
          </div>
          <!-- end widget -->
        </div>
        <!--les classes du profs qui a crée le cours-->
        <!--et chocher les classes du cours par defaut-->
        <div class="row" ng-if="courseCtrl.getCurrentUser()._id === courseCtrl.LeCours.user._id">
          <div class="widget custom-widget course-pricing clearfix">
            <div class="customwidget text-left w40" ng-repeat="etablissemt in courseCtrl.listClasseUsers">
              <h4 class="text-center">{{etablissemt.libelle}}</h4>
              <!--<h4 class="text-center">90 Days Money Back Guarantee</h4>-->
              <hr>
              <form>
                <div class="checkbox checkbox-warning checkbox-inline" ng-repeat="classe in etablissemt.classe">
                  <input id="{{classe._id}}" type="checkbox" class="styled" ng-checked="courseCtrl.checkIfClasseMustBeChecked(classe._id)">
                  <label for="{{classe._id}}">
                    {{classe.libelle}} 
                </label>
                </div>
                <!--<input type="submit" value="Join Course" class="btn btn-primary btn-block" />-->
              </form>

            </div>
            <!-- end newsletter -->
          </div>
          <!-- end widget -->
        </div>
        <!--Les cours a recommander-->
        <div class="row" ng-if="courseCtrl.LesCoursDeLaSousCategorie.length > 0">
          <div class="widget clearfix">
            <div class="big-title">
              <h2 class="related-title">
                <span>Voir aussi</span>
              </h2>
            </div>
            <!-- end big-title -->
            <div class="postpager liststylepost">
              <ul class="pager">
                <li ng-repeat="otherCours in courseCtrl.LesCoursDeLaSousCategorie | limitTo: 3">
                  <div class="post">
                    <a ui-sref="courseSinglePage({sousDomaine:otherCours.sous_categorie._id, idCours:otherCours._id, idChap: ''})">
                      <img alt="poster du cours {{otherCours.titre}}" ng-src="assets/upload/Cours/{{otherCours.images}}" class="img-responsive alignleft"
                        style="height: 60px; width: 60px">

                      <h4>{{otherCours.titre | limitTo: 40}}</h4>
                      <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>

                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <!-- end postpager -->
          </div>
          <!-- end widget -->

          <div class="all-buttons text-center">
            <a ui-sref="coursesPages" class="btn btn-primary btn-lg btn-square">Voir d'autres cours</a>
          </div>


        </div>
      </div>
      <!-- end col -->





    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end section -->
