<banner></banner>
<div class="page-title bgg">
  <div class="container clearfix">
    <div class="title-area pull-left">
      <h2>Resultat de la recheche <small>{{searchCtrl.lesUsers.length}} utilisateurs</small> <small>{{searchCtrl.lesEtab.length}} etablissements</small> <small>{{searchCtrl.lesCours.length}} cours</small></h2>
    </div>
  </div>
</div>
<!-- end page-title -->

<section class="section bgw">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="forumwrapper">
          <div class="forumwrapper-padding">
            <div id="bbpress-forums">
              <div class="table-responsive">
                <ul class="bbp-forums">
                  <li class="bbp-header">
                    <ul class="forum-titles">
                      <li class="bbp-forum-info">Utilisateurs</li>
                      
                    </ul>
                  </li>
                  <!-- .bbp-header -->

                  <li ng-if="searchCtrl.lesUsers.length !== 0" class="bbp-body" ng-repeat="user in searchCtrl.lesUsers">
                    <ul class="forum type-forum status-publish hentry loop-item-0 odd bbp-forum-status-open bbp-forum-visibility-publish">
                      <li class="bbp-forum-info">
                        <img src="assets/upload/User/{{user.images}}" alt="" class="alignleft" ui-sref="profil({username: user.username})">
                        <a class="bbp-forum-title" ui-sref="profil({username: user.username})" title="General">{{user.name}}</a>
                        <div class="bbp-forum-content"> {{user.email}} </div>
                      </li>
                      
                    </ul>
                    <!-- end bbp forums -->
                  </li>
                  <li ng-if="searchCtrl.lesUsers.length === 0">
                    <h2>Aucun Resultat</h2>
                  </li>

                </ul>
                <!-- .forums-directory -->
              </div>
            </div>
            <!-- /bbpress -->


          </div>
          <!-- end post-padding -->
        </div>
        <!-- end content -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end section -->


<section class="section bgw">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="forumwrapper">
          <div class="forumwrapper-padding">
            <div id="bbpress-forums">
              <div class="table-responsive">
                <ul class="bbp-forums">
                  <li class="bbp-header">
                    <ul class="forum-titles">
                      <li class="bbp-forum-info">Etablissements</li>
                      
                    </ul>
                  </li>
                  <!-- .bbp-header -->

                  <li ng-if="searchCtrl.lesEtab.length !== 0" class="bbp-body" ng-repeat="etab in searchCtrl.lesEtab">
                    <ul class="forum type-forum status-publish hentry loop-item-0 odd bbp-forum-status-open bbp-forum-visibility-publish">
                      <li class="bbp-forum-info">
                        <img src="assets/upload/Etablissement/{{etab.images}}" ui-sref="etablissement({id: etab._id})" alt="" class="alignleft">
                        <a class="bbp-forum-title" ui-sref="etablissement({id: etab._id})" title="General">{{etab.libelle}}</a>
                        <div class="bbp-forum-content">{{etab.description}}</div>
                      </li>
                     
                    </ul>
                    <!-- end bbp forums -->
                  </li>

                  <li ng-if="searchCtrl.lesEtab.length === 0">
                    <h2>
                      Aucun resultat
                    </h2>
                  </li>


                </ul>
                <!-- .forums-directory -->
              </div>
            </div>
            <!-- /bbpress -->

         

          </div>
          <!-- end post-padding -->
        </div>
        <!-- end content -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<section class="section bgw">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="forumwrapper">
          <div class="forumwrapper-padding">
            <div id="bbpress-forums">
              <div class="table-responsive">
                <ul class="bbp-forums">
                  <li class="bbp-header">
                    <ul class="forum-titles">
                      <li class="bbp-forum-info">Cours</li>
                     
                    </ul>
                  </li>
                  <!-- .bbp-header -->

                  <li ng-if="searchCtrl.lesCours.length !== 0" class="bbp-body" ng-repeat="cours in searchCtrl.lesCours">
                    <ul class="forum type-forum status-publish hentry loop-item-0 odd bbp-forum-status-open bbp-forum-visibility-publish">
                      <li class="bbp-forum-info">
                        <img src="assets/upload/Cours/{{cours.images}}" ui-sref="courseSinglePage({sousDomaine:cours.sous_categorie, idCours:cours._id})" alt="" class="alignleft">
                        <a class="bbp-forum-title"  ui-sref="courseSinglePage({sousDomaine:cours.sous_categorie, idCours:cours._id})" title="General">{{cours.titre}}</a>
                        <div class="bbp-forum-content">{{cours.description}}</div>
                      </li>
                      
                    </ul>
                    <!-- end bbp forums -->
                  </li>

                  <li ng-if="searchCtrl.lesCours.length === 0">
                    <h2>
                      Aucun resultat
                    </h2>
                  </li>


                </ul>
                <!-- .forums-directory -->
              </div>
            </div>
            <!-- /bbpress -->

          
          </div>
          <!-- end post-padding -->
        </div>
        <!-- end content -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end section -->
